<div class="k-overlay" *ngIf="opened"></div>

<div class="k-window-wrapper" *ngIf="opened">
    <kendo-window (close)="dismiss()" [resizable]="false" [draggable]="false" [top]="50">
        <kendo-window-titlebar>
            <div class="k-window-title">
                Prodotto
            </div>
            <div class="text-right">
                <button type="button" (click)="dismiss()" class="btn btn-secondary me-2">
                    <i class="fa fa-rotate-left me-2"></i> ANNULLA
                </button>
                <button type="button" (click)="close()" class="btn btn-primary">
                    <i class="fa fa-floppy-disk me-2"></i> SALVA
                </button>
            </div>
            <button kendoWindowCloseAction></button>
        </kendo-window-titlebar>
        <form name="updateOperatorForm" #form="ngForm" novalidate autocomplete="off" (ngSubmit)="close()"
            *ngIf="options" class="redimensionModal">
            <div class="row riga-form">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-5">
                            <kendo-formfield class="form-group">
                                <label class="custom-form-field-label">Codice</label>
                                <kendo-textbox [(ngModel)]="options.code" name="code" required>
                                </kendo-textbox>
                                <kendo-formerror>Codice è il campo obbligatorio</kendo-formerror>
                            </kendo-formfield>
                        </div>
                        <div class="col-md-6">
                            <kendo-formfield class="form-group">
                                <label class="custom-form-field-label">Tipologia prodotto</label>
                                <kendo-combobox [data]="productTypes" [(ngModel)]="options.productTypeId"
                                    name="productTypeId" suggest="true" textField="name" [valuePrimitive]="true"
                                    valueField="id" (valueChange)="checkIfImpiantoIsPortaRei(); checkIfWarehouseManaged();" required>
                                </kendo-combobox>
                                <kendo-formerror>Tipologia prodotto è il campo obbligatorio</kendo-formerror>
                            </kendo-formfield>
                        </div>
                        <div class="col-md-1">
                            <kendo-formfield class="form-group">
                                <label class="custom-form-field-label">Dismesso</label>
                                <kendo-switch name="isDecommissioned" [(ngModel)]="options.isDecommissioned"
                                    onLabel="Si" offLabel="No">
                                </kendo-switch>
                            </kendo-formfield>
                        </div>
                    </div>
                    <kendo-formfield class="form-group">
                        <label class="custom-form-field-label">Nome</label>
                        <kendo-textbox [(ngModel)]="options.name" name="name" required>
                        </kendo-textbox>
                        <kendo-formerror>Nome è un campo obbligatorio</kendo-formerror>
                    </kendo-formfield>
                    <kendo-formfield class="form-group">
                        <label class="custom-form-field-label">Descrizione</label>
                        <kendo-textarea [(ngModel)]="options.description" name="description" [rows]="3" required>
                        </kendo-textarea>
                        <kendo-formerror>Descrizione è il campo obbligatorio</kendo-formerror>
                    </kendo-formfield>
                    <kendo-formfield class="form-group">
                        <label class="custom-form-field-label">Note</label>
                        <kendo-textarea [(ngModel)]="options.note" name="note" [rows]="3">
                        </kendo-textarea>
                        <kendo-formerror>Note è il campo obbligatorio</kendo-formerror>
                    </kendo-formfield>
                    <kendo-formfield class="form-group">
                        <label>{{imageLabel}}</label>
                        <kendo-upload [(ngModel)]="this.attachmentsFileInfo" (success)="ImageExecutionSuccess($event)"
                            [saveUrl]="uploadSaveUrl" [removeUrl]="uploadRemoveUrl" name="myUpload">
                        </kendo-upload>
                        <kendo-upload-messages dropFilesHere=" "></kendo-upload-messages>
                    </kendo-formfield>
                    <kendo-formfield class="form-group">
                        <label><strong>Documenti</strong></label>
                        <kendo-upload [(ngModel)]="this.documents" (success)="DocumentExecutionSuccess($event)"
                            [saveUrl]="uploadSaveUrl" [removeUrl]="uploadRemoveUrl" name="myUploadDoc">
                            <ng-template kendoUploadFileInfoTemplate let-files>
                                <a (click)="downloadAttachment(files[0].name)" class="pointer">
                                    {{ files[0].name }}
                                </a>
                            </ng-template>
                        </kendo-upload>
                        <kendo-upload-messages dropFilesHere=" "></kendo-upload-messages>
                    </kendo-formfield>
                </div>
                <div class="col-md-4" style="text-align:center">
                    <img *ngIf="options.pictureFileName != null" [src]="pathImage + options.pictureFileName" alt=""
                        width="100%">
                    <kendo-qrcode *ngIf="qrCode != null && isImpiantoPortaRei" [value]="qrCode" errorCorrection="M"
                        encoding="UTF_8" style="max-width: 100px;">
                    </kendo-qrcode>
                </div>
            </div>
            @if (isWarehouseManaged)
            {
            <div class="row">
                <hr />
                <div class="col-md-12">
                    <label><strong>Dati Magazzino</strong></label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <kendo-formfield class="form-group">
                        <label class="custom-form-field-label">Marca</label>
                        <kendo-textbox [(ngModel)]="options.brand" name="brand"> </kendo-textbox>
                    </kendo-formfield>
                </div>
                <div class="col-md-3">
                    <kendo-formfield class="form-group">
                        <label class="custom-form-field-label">Lato</label>
                        <kendo-textbox [(ngModel)]="options.side" name="side"> </kendo-textbox>
                    </kendo-formfield>
                </div>
                <div class="col-md-3">
                    <kendo-formfield class="form-group">
                        <label class="custom-form-field-label">Dimensioni</label>
                        <kendo-textbox [(ngModel)]="options.size" name="size"> </kendo-textbox>
                    </kendo-formfield>
                </div>
                <div class="col-md-3">
                    <kendo-formfield class="form-group">
                        <label class="custom-form-field-label">Materiale</label>
                        <kendo-textbox [(ngModel)]="options.material" name="material">
                        </kendo-textbox>
                    </kendo-formfield>
                </div>
            </div>
            }
            <div class="row" *ngIf="isImpiantoPortaRei">
                <hr />
                <div class="col-md-8">
                    <label><strong>Dati Avanzati - {{qrCode}}</strong></label>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-4">
                            <kendo-textbox [(ngModel)]="options.qrCodePrefix" name="qrCodePrefix" [maxlength]="10">
                            </kendo-textbox>
                        </div>
                        <div class="col-1">/</div>
                        <div class="col-7">
                            <kendo-textbox [(ngModel)]="options.qrCodeNumber" name="qrCodeNumber" [maxlength]="10">
                            </kendo-textbox>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-md-6">
                            <kendo-formfield class="form-group">
                                <label>Cliente</label>
                                <kendo-combobox [data]="customers" [(ngModel)]="options.customerId" name="customerId"
                                    suggest="true" class="customer-combobox" textField="name" [valuePrimitive]="true"
                                    valueField="id" (valueChange)="customerChanged($event)" required>
                                </kendo-combobox>
                                <button (click)="createCustomer()" type="button"
                                    class="btn btn-primary add-customer-button" title="Nuovo cliente">
                                    <i class="fa fa-plus"></i>
                                </button>
                                <kendo-formerror>Cliente è il campo obbligatorio</kendo-formerror>
                            </kendo-formfield>
                        </div>
                        <div class="col-md-6">
                            <kendo-formfield class="form-group">
                                <label>Indirizzo</label>
                                <kendo-combobox [data]="customerSelezionato.addresses" class="address-combobox"
                                    [(ngModel)]="options.addressId" name="addressId" suggest="true"
                                    class="customer-combobox" textField="fullAddress" [valuePrimitive]="true"
                                    [disabled]="options.customerId == null" valueField="id" required>
                                </kendo-combobox>
                                <button [disabled]="options.customerId == null" (click)="createAddress()" type="button"
                                    class="btn btn-primary add-address-button" title="Nuovo indirizzo">
                                    <i class="fa fa-plus"></i>
                                </button>
                                <kendo-formerror>Indirizzo è il campo obbligatorio</kendo-formerror>
                            </kendo-formfield>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <kendo-formfield class="form-group">
                                <label class="custom-form-field-label">Ubicazione</label>
                                <kendo-textbox [(ngModel)]="options.location" name="location"> </kendo-textbox>
                            </kendo-formfield>
                        </div>
                        <div class="col-md-3">
                            <kendo-formfield class="form-group">
                                <label class="custom-form-field-label">Matricola</label>
                                <kendo-textbox [(ngModel)]="options.serialNumber" name="serialNumber"> </kendo-textbox>
                            </kendo-formfield>
                        </div>
                        <div class="col-md-3">
                            <kendo-formfield class="form-group">
                                <label class="custom-form-field-label">Tipo</label>
                                <kendo-textbox [(ngModel)]="options.reiType" name="reiType"> </kendo-textbox>
                            </kendo-formfield>
                        </div>
                        <div class="col-md-3">
                            <kendo-formfield class="form-group">
                                <label class="custom-form-field-label">Costruttore</label>
                                <kendo-textbox [(ngModel)]="options.constructorName" name="constructorName">
                                </kendo-textbox>
                            </kendo-formfield>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <kendo-formfield class="form-group">
                                <label class="custom-form-field-label">Maniglia Antipanico</label>
                                <kendo-switch name="hasPushBar" [(ngModel)]="options.hasPushBar" onLabel="Si"
                                    offLabel="No">
                                </kendo-switch>
                            </kendo-formfield>
                        </div>
                        <div class="col-md-2">
                            <kendo-formfield class="form-group">
                                <label class="custom-form-field-label">Manutenz. Mensile</label>
                                <kendo-switch name="monthlyMaintenance" [(ngModel)]="options.monthlyMaintenance"
                                    onLabel="Si" offLabel="No">
                                </kendo-switch>
                            </kendo-formfield>
                        </div>
                        <div class="col-md-2">
                            <kendo-formfield class="form-group">
                                <label class="custom-form-field-label">Anno</label>
                                <kendo-numerictextbox [(ngModel)]="options.year" name="year" format="0" [decimals]="0"
                                    [min]="1950" [max]="2099"> </kendo-numerictextbox>
                            </kendo-formfield>
                        </div>
                        <div class="col-md-3">
                            <kendo-formfield class="form-group">
                                <label class="custom-form-field-label">Tipologia VOC</label>
                                <kendo-textbox [(ngModel)]="options.vocType" name="vocType"> </kendo-textbox>
                            </kendo-formfield>
                        </div>
                        <div class="col-md-3">
                            <kendo-formfield class="form-group">
                                <label class="custom-form-field-label">Ante</label>
                                <kendo-numerictextbox [(ngModel)]="options.numberOfDoors" name="numberOfDoors"
                                    format="0" [decimals]="0">
                                </kendo-numerictextbox>
                            </kendo-formfield>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-right mt-5">
                <button type="button" (click)="dismiss()" class="btn btn-secondary me-2">
                    <i class="fa fa-rotate-left me-2"></i> ANNULLA
                </button>
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-floppy-disk me-2"></i> SALVA
                </button>
            </div>
        </form>
    </kendo-window>
</div>

<app-customer-modal #customerModal></app-customer-modal>
<app-address-modal [customer]="customerSelezionato" #addressModal></app-address-modal>