<app-grid-context-menu #gridMenu key="jobId"></app-grid-context-menu>

<kendo-grid [data]="data" [pageSize]="gridState.take" [skip]="gridState.skip" [sort]="gridState.sort"
    [filter]="gridState.filter" [group]="gridState.group" filterable="menu" [sortable]="true" [pageable]="true"
    scrollable="none" (dataStateChange)="dataStateChange($event)"
    (cellClick)="cellClickHandler($event)" (dblclick)="onDblClick()" (cellClick)="gridMenu.onCellClick($event)">

    <ng-container *ngIf="!activityId">
        <kendo-grid-column field="customer" title="Cliente">
        </kendo-grid-column>
        <kendo-grid-column field="address" title="Indirizzo">
        </kendo-grid-column>
    </ng-container>

    <kendo-grid-column field="status" title="Stato" [width]="1" filter="numeric">
        <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
            let-filterService="filterService">
            <app-multiselect-grid-column-filter [column]="column" [filter]="filter" [filterService]="filterService"
                [data]="interventionStatusNames">
            </app-multiselect-grid-column-filter>
        </ng-template>
        <ng-template kendoGridCellTemplate let-dataItem>
            <span class="text-nowrap">
                {{dataItem.status | interventionStatus}}
            </span>
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="start" title="Inizio" filter="date" [width]="1">
        <ng-template kendoGridCellTemplate let-dataItem>
            <span class="text-nowrap">
                {{dataItem.start | date:'dd/MM/yyyy HH:mm'}}
            </span>
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="end" title="Fine" filter="date" [width]="1">
        <ng-template kendoGridCellTemplate let-dataItem>
            <span class="text-nowrap">
                {{dataItem.end | date:'dd/MM/yyyy: HH:mm'}}
            </span>
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="description" title="Note">
    </kendo-grid-column>

    <kendo-grid-column field="id" [sortable]="false" [filterable]="false" title=" " [width]="1">
        <ng-template kendoGridCellTemplate let-dataItem>
            <div class="d-flex text-nowrap gap-1">
                <button class="btn btn-primary btn-sm" title="Download Rapportino" (click)="downloadReport(dataItem.id)">
                    <i class="fas fa-file"></i>
                </button>
                <button class="btn btn-primary btn-sm" title="Modifica" (click)="edit(dataItem)">
                    <i class="fas fa-edit"></i>
                </button>
                <button [disabled]="!dataItem.canBeRemoved" class="btn btn-danger btn-sm" title="Rimuovi"
                    (click)="askRemove(dataItem)">
                    <i class="fas fa-trash"></i>
                </button>
            </div>
        </ng-template>
    </kendo-grid-column>

    <div *kendoGridDetailTemplate="let dataItem">
        <app-interventions-products-grid [interventionId]="dataItem.id"></app-interventions-products-grid>
    </div>
</kendo-grid>
