<div class="k-overlay" *ngIf="opened"></div>

<div class="k-window-wrapper" *ngIf="opened">
    <kendo-window (close)="dismiss()" [resizable]="true" [draggable]="true" [top]="30">
        <kendo-window-titlebar>
            <div class="k-window-title">
                Intervento
            </div>
            <button kendoWindowMinimizeAction></button>
            <button kendoWindowRestoreAction></button>
            <button kendoWindowMaximizeAction></button>
            <button kendoWindowCloseAction></button>
        </kendo-window-titlebar>
        <form name="intervention-modal-form" #form="ngForm" novalidate autocomplete="off" (submit)="trySave()"
            class="redimensionModal">

            <div class="row">
                <div class="col-md-5">
                    <label>Commessa</label>
                    <div class="form-group">
                        <kendo-combobox [data]="jobs" textField="fullName" valueField="id" name="jobId"
                            [(ngModel)]="options.jobId" required [suggest]="true" [allowCustom]="false"
                            [valuePrimitive]="true" (valueChange)="onJobChanged()" [readonly]="jobReadonly">
                        </kendo-combobox>
                        <div class="validation-message" [control]="form.controls['jobId']"></div>
                    </div>
                </div>
                <div class="col-md-7">
                    <label>Attività</label>
                    <div class="form-group">
                        <kendo-combobox [data]="activities" textField="fullName" valueField="id" name="activityId"
                            [(ngModel)]="options.activityId" required [suggest]="true" [allowCustom]="false"
                            [valuePrimitive]="true" [readonly]="activityReadonly" (valueChange)="onActivityChanged()">
                        </kendo-combobox>
                        <div class="validation-message" [control]="form.controls['activityId']"></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <label>Inizio</label>
                    <div class="form-group">
                        <kendo-datetimepicker name="start" [(ngModel)]="options.start" required [steps]="{minute:15}"
                            [readonly]="readonly" (valueChange)="onStartChange()">
                        </kendo-datetimepicker>
                        <div class="validation-message" [control]="form.controls['start']"></div>
                    </div>
                </div>
                <div class="col-md-4">
                    <label>Fine</label>
                    <div class="form-group">
                        <kendo-datetimepicker name="end" [(ngModel)]="options.end" required [min]="options.start"
                            [steps]="{minute:15}" [readonly]="readonly">
                        </kendo-datetimepicker>
                        <div class="validation-message" [control]="form.controls['end']"></div>
                    </div>
                </div>
                <div class="col-md-4">
                    <label>Stato</label>
                    <div class="form-group">
                        <kendo-dropdownlist [data]="states" [valuePrimitive]="true" name="status"
                            [(ngModel)]="options.status" required>
                            <ng-template kendoDropDownListValueTemplate let-dataItem>
                                {{dataItem | interventionStatus}}
                            </ng-template>
                            <ng-template kendoDropDownListItemTemplate let-dataItem>
                                {{dataItem | interventionStatus}}
                            </ng-template>
                        </kendo-dropdownlist>
                        <div class="validation-message" [control]="form.controls['status']"></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-8">
                    <label>Operatori</label>
                    <div class="form-group">
                        <kendo-multiselect [data]="operators" textField="name" valueField="id" name="operators"
                            [(ngModel)]="options.operators" required [allowCustom]="false" [valuePrimitive]="true"
                            [readonly]="readonly" (valueChange)="onOperatorsChanged($event)">
                            <ng-template kendoMultiSelectItemTemplate let-dataItem>
                                <div class="d-flex gap-1">
                                    <app-operator-avatar [options]="dataItem"></app-operator-avatar>
                                    {{ dataItem.name }}
                                </div>
                            </ng-template>
                            <ng-template kendoMultiSelectTagTemplate let-dataItem>
                                <div class="d-flex gap-1">
                                    <app-operator-avatar [options]="dataItem"></app-operator-avatar>
                                    {{ dataItem.name }}
                                </div>
                            </ng-template>
                        </kendo-multiselect>
                        <div class="validation-message" [control]="form.controls['operators']"></div>
                    </div>
                </div>
                <div class="col-md-4">
                    <label>Veicolo</label>
                    <div class="form-group">
                        <kendo-combobox [data]="vehicles" textField="fullName" valueField="id" name="vehicleId"
                            [(ngModel)]="options.vehicleId" [suggest]="true" [allowCustom]="false"
                            [valuePrimitive]="true" [readonly]="readonly">
                        </kendo-combobox>
                        <div class="validation-message" [control]="form.controls['vehicleId']"></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="d-flex gap-2 align-items-center">
                        <label>
                            Prodotti
                        </label>
                        <ng-container *ngIf="!readonly">
                            <button type="button" class="btn btn-sm btn-link" (click)="selectAllProducts()">
                                Seleziona tutti
                            </button>
                            <button type="button" class="btn btn-sm btn-link" (click)="unselectAllProducts()">
                                Deseleziona tutti
                            </button>
                        </ng-container>
                    </div>

                    <div class="input-group mb-1">
                        <span class="input-group-text">
                            <span class="fa fa-search"></span>
                        </span>
                        <input type="text" class="form-control" [(ngModel)]="filterProductsValue"
                            name="filterProductsValue" (ngModelChange)="onSearchProductsValueChange($event)"
                            placeholder="Cerca tra i prodotti dell'attività per codice o nome...">
                    </div>
                    <div class="row" kendoTooltip style="max-height: 300px; overflow: auto;">
                        <div *ngFor="let product of products; index as i"
                            class="col-6 d-flex gap-1 align-items-center mb-2" [class.hidden]="product.hidden">
                            <input type="checkbox" kendoCheckBox [(ngModel)]="product.selected" [disabled]="readonly"
                                [name]="i + '_productSelected'" (ngModelChange)="onProductSelectionChange(product)">
                            <img *ngIf="product.pictureFileName" [src]="imagesUrl + product.pictureFileName"
                                class="thumbnail-xs">
                            <span class="text-ellipsis" [title]="product.fullName">
                                {{ product.fullName }}
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <label>Descrizione</label>
                    <div class="form-group">
                        <textarea class="form-control" name="description" [(ngModel)]="options.description" novalidate
                            autocomplete="off" maxlength="500" rows="3" [readonly]="readonly">
                        </textarea>
                        <div class="validation-message" [control]="form.controls['description']"></div>
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-end gap-2">
                <button type="button" (click)="dismiss()" class="btn btn-secondary">
                    Annulla
                </button>
                <button type="button" (click)="openNotes()" class="btn btn-primary">
                    Note
                </button>
                <button type="submit" class="btn btn-primary" [disabled]="readonly">
                    Salva
                </button>
            </div>
        </form>
    </kendo-window>
</div>

<app-intervention-notes-modal #interventionNotesModal></app-intervention-notes-modal>