<div class="k-overlay" *ngIf="opened"></div>

<div class="k-window-wrapper" *ngIf="opened">
    <kendo-window (close)="dismiss()" [resizable]="true" [draggable]="true" [top]="30" [(state)]="windowState">
        <kendo-window-titlebar>
            <div *ngIf="!!options.id" class="k-window-title">
                Commessa {{options.code}} &bull; {{options.status | jobStatus}}
            </div>
            <div *ngIf="!options.id" class="k-window-title">
                Nuova commessa
            </div>
            <div class="text-right">
                <button type="button" (click)="dismiss()" class="btn btn-secondary me-2">
                    <i class="fa fa-rotate-left me-2"></i> ANNULLA
                </button>
                <button type="button" (click)="close()" class="btn btn-primary">
                    <i class="fa fa-floppy-disk me-2"></i> SALVA
                </button>
            </div>
            <button kendoWindowMinimizeAction></button>
            <button kendoWindowRestoreAction></button>
            <button kendoWindowMaximizeAction></button>
            <button kendoWindowCloseAction></button>
        </kendo-window-titlebar>
        <form name="job-modal-form" #form="ngForm" novalidate autocomplete="off" (submit)="close()">

            <div class="row">
                <div class="col-md-1">
                    <label>Numero</label>
                    <div class="form-group">
                        <input class="form-control" name="number" [(ngModel)]="options.number" novalidate
                            autocomplete="off" disabled />
                        <div class="validation-message" [control]="form.controls['number']"></div>
                    </div>
                </div>
                <div class="col-md-1">
                    <label>Anno</label>
                    <div class="form-group">
                        <input class="form-control" name="year" [(ngModel)]="options.year" novalidate autocomplete="off"
                            disabled />
                        <div class="validation-message" [control]="form.controls['year']"></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <label>Data</label>
                    <div class="form-group">
                        <kendo-datepicker format="dd/MM/yyyy" name="date" [(ngModel)]="options.date" required
                            [disabled]="!!options.id" (valueChange)="onDateChange()">
                        </kendo-datepicker>
                        <div class="validation-message" [control]="form.controls['date']"></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <label>Data Scadenza</label>
                    <div class="form-group">
                        <kendo-datepicker format="dd/MM/yyyy" name="expirationDate" [(ngModel)]="options.expirationDate"
                            [min]="options.date">
                        </kendo-datepicker>
                        <div class="validation-message" [control]="form.controls['expirationDate']"></div>
                    </div>
                </div>
                <div class="col-md-2">
                    <label>Priorità Alta</label>
                    <div class="form-group">
                        <kendo-switch name="hasHighPriority" [(ngModel)]="options.hasHighPriority" onLabel="Si"
                            offLabel="No">
                        </kendo-switch>
                        <div class="validation-message" [control]="form.controls['hasHighPriority']"></div>
                    </div>
                </div>
                <div class="col-md-2">
                    <label>Stato</label>
                    <div class="form-group">
                        <kendo-dropdownlist [data]="states" [valuePrimitive]="true" name="status"
                            [(ngModel)]="options.status" required
                            [disabled]="options.status == 0 || options.status == 1">
                            <ng-template kendoDropDownListValueTemplate let-dataItem>
                                {{dataItem | jobStatus}}
                            </ng-template>
                            <ng-template kendoDropDownListItemTemplate let-dataItem>
                                {{dataItem | jobStatus}}
                            </ng-template>
                        </kendo-dropdownlist>
                        <div class="validation-message" [control]="form.controls['status']"></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <label>Cliente</label>
                    <kendo-formfield class="form-group">
                        <kendo-combobox [data]="customers" [valuePrimitive]="true" textField="name" valueField="id"
                            name="customerId" [(ngModel)]="options.customerId" required [suggest]="true"
                            [kendoDropDownFilter]="{caseSensitive:false, operator:'contains'}" [allowCustom]="false"
                            [disabled]="!!options.id" class="customer-combobox" (valueChange)="onCustomerChange()">
                        </kendo-combobox>
                        <button (click)="createCustomer()" type="button" class="btn btn-primary add-customer-button"
                            title="Nuovo cliente">
                            <i class="fa fa-plus"></i>
                        </button>
                        <div class="validation-message" [control]="form.controls['customerId']"></div>
                    </kendo-formfield>
                </div>
                <div class="col-md-6">
                    <label>Indirizzo</label>
                    <div class="form-group">
                        <kendo-combobox [data]="addresses" [valuePrimitive]="true" textField="fullAddress"
                            class="address-combobox" valueField="id" name="addressId"
                            [kendoDropDownFilter]="{caseSensitive:false, operator:'contains'}"
                            [(ngModel)]="options.addressId" [suggest]="true" [allowCustom]="false">
                        </kendo-combobox>
                        <div class="validation-message" [control]="form.controls['addressId']"></div>
                        <button (click)="createAddress()" type="button" class="btn btn-primary add-address-button"
                            title="Nuovo indirizzo">
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <label>Riferimento Commessa</label>
                    <div class="form-group">
                        <input class="form-control" name="reference" [(ngModel)]="options.reference" maxlength="255"
                            novalidate autocomplete="off" />
                        <div class="validation-message" [control]="form.controls['reference']"></div>
                    </div>
                </div>
                <div class="col-md-4">
                    <label>Responsabile Comm.</label>
                    <kendo-combobox [data]="operators" [valuePrimitive]="true" textField="name" valueField="id"
                        name="referentId" [(ngModel)]="options.referentId" required [suggest]="true"
                        [kendoDropDownFilter]="{caseSensitive:false, operator:'contains'}" [allowCustom]="false">
                    </kendo-combobox>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label>Note</label>
                    <div class="form-group">
                        <kendo-editor name="description" [(ngModel)]="options.description" [resizable]="true"
                            [iframe]="false">
                            <kendo-toolbar>
                                <kendo-toolbar-buttongroup>
                                    <kendo-toolbar-button kendoEditorBoldButton></kendo-toolbar-button>
                                    <kendo-toolbar-button kendoEditorItalicButton></kendo-toolbar-button>
                                    <kendo-toolbar-button kendoEditorUnderlineButton></kendo-toolbar-button>
                                </kendo-toolbar-buttongroup>
                                <kendo-toolbar-colorpicker kendoEditorForeColor></kendo-toolbar-colorpicker>
                                <kendo-toolbar-buttongroup>
                                    <kendo-toolbar-button kendoEditorInsertUnorderedListButton></kendo-toolbar-button>
                                </kendo-toolbar-buttongroup>
                            </kendo-toolbar>
                        </kendo-editor>
                        <div class="validation-message" [control]="form.controls['description']"></div>
                    </div>
                </div>
            </div>

            <hr class="border-green" />
            <!--<kendo-expansionpanel title="Commenti ({{options.activity.messages.length}})" subtitle="Visualizza messaggi">-->
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Commenti ({{options.messages.length}}) <strong *ngIf="unreadMessages"
                                style="padding-left: 15px;">Da leggere:
                                {{unreadMessages}}</strong></label>
                        <div class="row" style="margin-top:5px">
                            <div class="col-md-1">
                                <button class="btn btn-primary" title="Aggiungi nuovo commento" type="button"
                                    (click)="initNewMessage()">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>
                            <div class="col-md-11">
                                <div *ngFor="let item of options.messages" class="row messageTableRow">
                                    <div class="col-md-2 messageRowPadding" [ngClass]="{'messageUnread':!item.isRead}">
                                        {{item.date | date:'dd/MM/yyyy'}}</div>
                                    <div class="col-md-2 messageRowPadding" [ngClass]="{'messageUnread':!item.isRead}">
                                        {{item.operatorName}}</div>
                                    <div class="col-md-6 messageRowPadding" [ngClass]="{'messageUnread':!item.isRead}"
                                        [innerHTML]="item.note"></div>
                                    <div class="col-md-2" style="text-align: right;">
                                        <button [disabled]="item.operatorId != currentOperator.id" type="button"
                                            class="btn btn-outline-primary btn-sm me-2" title="Modifica"
                                            (click)="editMessage(item)">
                                            <i class="fas fa-edit"></i>
                                        </button>
                                        <button class="btn btn-outline-primary btn-sm me-2" type="button"
                                            title="Segna come letto" [disabled]="item.isRead"
                                            (click)="markAsRead(item)">
                                            <i class="fa-regular fa-square-check" *ngIf="item.isRead"></i>
                                            <i class="fa-regular fa-square" *ngIf="!item.isRead"></i>
                                        </button>
                                        <button [disabled]="item.operatorId != currentOperator.id" type="button"
                                            class="btn btn-outline-danger btn-sm" title="Elimina"
                                            (click)="deleteMessage(item)">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--</kendo-expansionpanel>-->
            <hr class="border-green" />

            <div class="row">
                <div class="col-md-3">
                    <kendo-formfield class="form-group">
                        <label>Allegati</label>
                        <kendo-upload [(ngModel)]="this.attachments" (success)="AttachmentExecutionSuccess($event)"
                            [saveUrl]="uploadSaveUrl" [removeUrl]="uploadRemoveUrl" [multiple]="true" name="myUpload">
                            <ng-template kendoUploadFileInfoTemplate let-files>
                                <a (click)="downloadAttachment(files[0].name)" class="pointer">
                                    {{ files[0].name }}
                                </a>
                            </ng-template>
                            <kendo-upload-messages dropFilesHere=" "></kendo-upload-messages>
                        </kendo-upload>
                    </kendo-formfield>
                </div>
                <div class="col-md-9">
                    <div class="row">
                        <div *ngFor="let item of options.attachments; let i = index" class="col-2">
                            <a href="javascript:void(0)" (click)="openImage(i)" *ngIf="item.isImage">
                                <img [src]="pathImage + item.fileName" width="90%" [title]="item.displayName" />
                            </a> 
                            <a [href]="pathImage + item.fileName" target="_blank" *ngIf="!item.isImage">
                                <img src="assets/document.jpg" width="90%" [title]="item.displayName" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-end gap-2 mt-5">
                <button type="button" (click)="dismiss()" class="btn btn-secondary">
                    <i class="fa fa-rotate-left me-2"></i> ANNULLA
                </button>
                <button *ngIf="options.id != null" type="button" class="btn btn-danger me-2" title="Elimina"
                    (click)="deleteJob()">
                    <i class="fas fa-trash"></i>
                </button>
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-floppy-disk me-2"></i> SALVA
                </button>
            </div>
        </form>
    </kendo-window>
</div>

<app-customer-modal #customerModal></app-customer-modal>
<app-address-modal #addressModal></app-address-modal>
<app-message-modal #messageModal></app-message-modal>
<app-gallery-modal #galleryModal></app-gallery-modal>