<div class="d-flex align-items-center mb-3">
    <div class="col">
        <h3>Commesse</h3>
    </div>

    <div class="col-auto">
        <button (click)="create()" class="btn btn-primary btn-sm">
            <i class="fas fa-plus"></i>
            NUOVA
        </button>
    </div>
</div>

<kendo-grid [data]="data" [pageSize]="gridState.take" [skip]="gridState.skip" [sort]="gridState.sort"
    [filter]="gridState.filter" [group]="gridState.group" filterable="menu" [sortable]="true" [pageable]="true"
    scrollable="none" (dataStateChange)="dataStateChange($event)">

    <kendo-grid-column field="date" title="Data" filter="date" [width]="1">
        <ng-template kendoGridCellTemplate let-dataItem>
            {{dataItem.date | date:'dd/MM/yyyy'}}
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="code" title="Codice" [width]="1">
        <ng-template kendoGridCellTemplate let-dataItem>
            <div *ngIf="!dataItem.hasHighPriority">{{dataItem.code}}</div>
            <div *ngIf="dataItem.hasHighPriority" class="job-alert">
                {{dataItem.code}} <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
            </div>
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="status" title="Stato" [width]="1" filter="numeric">
        <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
            let-filterService="filterService">
            <app-multiselect-grid-column-filter [column]="column" [filter]="filter" [filterService]="filterService"
                [data]="jobStatusNames">
            </app-multiselect-grid-column-filter>
        </ng-template>
        <ng-template kendoGridCellTemplate let-dataItem>
            <span class="text-nowrap">
                {{dataItem.status | jobStatus}}
            </span>
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="customer" title="Cliente">
    </kendo-grid-column>
    <kendo-grid-column field="reference" title="Riferimento">
    </kendo-grid-column>
    <kendo-grid-column field="description" title="Descrizione">
    </kendo-grid-column>
    <kendo-grid-column field="id" [sortable]="false" [filterable]="false" title=" " [width]="1">
        <ng-template kendoGridCellTemplate let-dataItem>
            <div class="d-flex text-nowrap gap-1">
                <button class="btn btn-primary btn-sm" title="Modifica" (click)="edit(dataItem)">
                    <i class="fas fa-edit"></i>
                </button>
                <button class="btn btn-primary btn-sm" title="Aggiungi nuova attività" (click)="createActivity(dataItem)">
                    <i class="fa fa-plus"></i>
                </button>
                <a class="btn btn-primary btn-sm" title="Gestisci attività" [routerLink]="['/activities']"
                    [queryParams]="{jobId: dataItem.id}">
                    <i class="fas fa-external-link"></i>
                </a>
                <button *ngIf="dataItem.canBeRemoved" class="btn btn-danger btn-sm" title="Rimuovi"
                    (click)="askRemove(dataItem)">
                    <i class="fas fa-trash"></i>
                </button>
            </div>
        </ng-template>
    </kendo-grid-column>

</kendo-grid>

<app-job-modal #jobModal></app-job-modal>
<app-activity-modal #activityModal></app-activity-modal>
