<div class="d-flex align-items-center mb-3">
    <div class="col">
        <h3>Commesse</h3>
    </div>
    
    <div class="col-auto">
        <button (click)="createJob()" class="btn btn-primary btn-sm">
            <i class="fas fa-plus"></i>
            NUOVA
        </button>
    </div>
</div>
<kendo-grid [data]="dataJobs" [pageSize]="stateGridJobs.take"
            [skip]="stateGridJobs.skip" [sort]="stateGridJobs.sort"
            [filter]="stateGridJobs.filter"
            [group]="stateGridJobs.group" filterable="menu"
            [sortable]="true" [pageable]="true" scrollable="none"
            (dataStateChange)="dataStateChange($event)">
            
    <kendo-grid-column field="jobDate" title="Data richiesta" filter="date" format="{0:d}"></kendo-grid-column>
    <kendo-grid-column field="code" title="Progr."></kendo-grid-column>
    <kendo-grid-column field="customer.name" title="Cliente"></kendo-grid-column>
    <kendo-grid-column field="customerAddress.telephone" title="Telefono"></kendo-grid-column>
    <kendo-grid-column field="customerFullAddress" title="Indirizzo"></kendo-grid-column>
    <kendo-grid-column field="description" title="Descrizione">
            <ng-template kendoGridCellTemplate let-dataItem>
                <div [innerHTML]="dataItem.description"></div>
            </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="status" title="Stato">
        <ng-template kendoGridCellTemplate let-dataItem>
            {{dataItem.status | jobStatus}}
        </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="number" [sortable]="false" [filterable]="false" title=" " [width]="120">
        <ng-template kendoGridCellTemplate let-dataItem>
            <div class="d-flex flex-wrap gap-1 justify-content-center">
                <button class="btn btn-secondary btn-sm" title="Genera intervento">
                    <i class="fas fa-calendar-days"></i>
                </button>
                <button class="btn btn-primary btn-sm" title="Modifica" (click)="editJob(dataItem)">
                    <i class="fas fa-edit"></i>
                </button>
                <button class="btn btn-danger btn-sm" title="Elimina" (click)="deleteJob(dataItem)">
                    <i class="fas fa-trash"></i>
                </button>
            </div>
        </ng-template>
    </kendo-grid-column>
</kendo-grid>

<!-- <app-job-modal #jobModal></app-job-modal>
<app-activity-modal #activityModal></app-activity-modal> -->