<div class="d-flex align-items-center mb-3">
    <div class="col">
        <h4>Voci Contabili Commessa</h4>
    </div>
    <div class="col-auto">
        <button (click)="createJobAccounting()" class="btn btn-primary btn-sm">
            <i class="fas fa-plus"></i>
            NUOVO
        </button>
    </div>
</div>

<div class="grid-container">
    <kendo-grid [data]="dataJobAccountings" [pageSize]="stateGridJobAccountings.take"
        [skip]="stateGridJobAccountings.skip" [sort]="stateGridJobAccountings.sort"
        [filter]="stateGridJobAccountings.filter" [group]="stateGridJobAccountings.group" filterable="menu"
        [sortable]="true" [pageable]="true" scrollable="none" [style.width.px]="screenWidth"
        (dataStateChange)="dataStateChange($event)">
        <kendo-grid-column field="accountingTypeName" title="Tipo Voce"></kendo-grid-column>
        <kendo-grid-column field="amount" title="Importo" [format]="'c2'"></kendo-grid-column>
        <kendo-grid-column field="note" title="Note"></kendo-grid-column>
        <kendo-grid-column field="isPaid" title="Pagato">
            <ng-template kendoGridCellTemplate let-dataItem>
                {{dataItem.isPaid | bool}}
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="id" [sortable]="false" [filterable]="false" title=" " [width]="95">
            <ng-template kendoGridCellTemplate let-dataItem>
                <button (click)="editJobAccounting(dataItem)" class="btn btn-primary btn-sm grid-action-button"
                    title="Modifica">
                    <i class="fas fa-edit"></i>
                </button>
                <button (click)="deleteJobAccounting(dataItem)" class="btn btn-danger btn-sm grid-action-button"
                    title="Elimina">
                    <i class="fas fa-trash"></i>
                </button>
            </ng-template>
        </kendo-grid-column>
    </kendo-grid>
</div>

<app-jobaccounting-modal #jobAccountingModal></app-jobaccounting-modal>