<div class="d-flex align-items-center gap-3 mb-2">
    <h3>
        Attività {{activity.number}} &bull; {{activity.status | activityStatus}}
    </h3>
    <div class="d-flex gap-1">
        <a class="btn btn-primary btn-sm" (click)="edit()">
            <span class="fa fa-edit"></span>
            Modifica attività
        </a>
        <a class="btn btn-secondary btn-sm" (click)="createIntervention()">
            <span class="fa fa-calendar-plus"></span>
            Programma intervento
        </a>
        <a class="btn btn-secondary btn-sm" (click)="createActivityProduct()">
            <span class="fa fa-plus"></span>
            Associa prodotto
        </a>
    </div>
</div>

<p>
    <i>
        {{activity.description}}
    </i>
</p>

<div class="row mb-4">
    <div class="col-3">
        <b>
            Cliente
        </b>
        <p>
            {{activity.customer}}
        </p>
    </div>
    <div class="col-3">
        <b>
            Indirizzo
        </b>
        <p>
            {{activity.customerAddress}}
        </p>
    </div>
    <div class="col-2">
        <b>
            Tipologia
        </b>
        <p>
            {{activity.type}}
        </p>
    </div>
    <div *ngIf="activity.source" class="col-2">
        <b>
            Sorgente
        </b>
        <p>
            {{activity.source}}
        </p>
    </div>
    <div class="col-12">
        <b>
            Commessa
        </b>
        <p>
            {{activity.job}}
        </p>
    </div>
</div>

<kendo-tabstrip>
    <kendo-tabstrip-tab [selected]="true">
        <ng-template kendoTabTitle>
            <h4>Prodotti</h4>
        </ng-template>
        <ng-template kendoTabContent>
            <app-activity-products #activityProducts [activityId]="activity.id"></app-activity-products>
        </ng-template>
    </kendo-tabstrip-tab>
    <kendo-tabstrip-tab>
        <ng-template kendoTabTitle>
            <h4>Pianificazione</h4>
        </ng-template>
        <ng-template kendoTabContent>
            <app-interventions-calendar #interventionsCalendar [interventionModal]="interventionModal"
                [jobId]="activity.jobId" [activityId]="activity.id" (interventionUpdated)="onInterventionsChanged()"
                (interventionCreated)="onInterventionsChanged()" (interventionRemoved)="onInterventionsChanged()">
            </app-interventions-calendar>
        </ng-template>
    </kendo-tabstrip-tab>
    <kendo-tabstrip-tab>
        <ng-template kendoTabTitle>
            <h4>Interventi</h4>
        </ng-template>
        <ng-template kendoTabContent>
            <app-interventions-grid #interventionsGrid [interventionModal]="interventionModal"
                [activityId]="activity.id" (interventionUpdated)="onInterventionsChanged()"
                (interventionRemoved)="onInterventionsChanged()">
            </app-interventions-grid>
        </ng-template>
    </kendo-tabstrip-tab>
</kendo-tabstrip>

<app-job-activity-modal #jobActivityModal></app-job-activity-modal>
<app-activity-product-modal #activityProductModal></app-activity-product-modal>
<app-intervention-modal #interventionModal></app-intervention-modal>
