<div class="d-flex align-items-center gap-3">
    <h3>
        Attività {{activity.number}} &bull; {{activity.status | activityStatus}}
    </h3>
    <a class="btn btn-primary btn-sm" (click)="edit()">
        <span class="fa fa-edit"></span>
        Modifica
    </a>
</div>

<p>
    <i>
        {{activity.description}}
    </i>
</p>

<div class="row mb-4">
    <div class="col-3">
        <b>
            Cliente
        </b>
        <p>
            {{activity.customer}}
        </p>
    </div>
    <div class="col-3">
        <b>
            Indirizzo
        </b>
        <p>
            {{activity.customerAddress}}
        </p>
    </div>
    <div class="col-2">
        <b>
            Tipologia
        </b>
        <p>
            {{activity.type}}
        </p>
    </div>
    <div *ngIf="activity.source" class="col-2">
        <b>
            Sorgente
        </b>
        <p>
            {{activity.source}}
        </p>
    </div>
    <div class="col-12">
        <b>
            Commessa
        </b>
        <p>
            {{activity.job}}
        </p>
    </div>
</div>

<div class="d-flex align-items-center gap-3 mb-2">
    <h4>
        Prodotti associati
    </h4>
    <a class="btn btn-primary btn-sm" (click)="createInterventionProduct()">
        <span class="fa fa-plus"></span>
        Nuovo
    </a>
</div>

<app-intervention-products #interventionProducts [activityId]="activity.id"></app-intervention-products>
<app-job-activity-modal #jobActivityModal></app-job-activity-modal>
<app-intervention-product-modal #interventionProductModal></app-intervention-product-modal>
