<div class="k-overlay" *ngIf="opened"></div>

<div class="k-window-wrapper" *ngIf="opened">
  <kendo-window (close)="dismiss()" [resizable]="true" [draggable]="true" [top]="30" [(state)]="windowState">
    <kendo-window-titlebar>
      <div class="k-window-title">
        &nbsp;
      </div>
      <button kendoWindowMinimizeAction></button>
      <button kendoWindowRestoreAction></button>
      <button kendoWindowMaximizeAction></button>
      <button kendoWindowCloseAction></button>
    </kendo-window-titlebar>
    <div class="row">
    <div class="col-12">
      <button type="button" class="btn btn-secondary" (click)="prev()" style="float: left;">Precedente</button>
      <button type="button" class="btn btn-secondary" (click)="next()" style="float: right;">Successivo</button>
    </div>
  </div>
    <div class="row">&nbsp;</div>
    <div class="row">
      <img [src]="options.images[currentIndex]" [alt]="options.images[currentIndex]" class="imageGallery" />
    </div>
  </kendo-window>
</div>