<div class="k-overlay" *ngIf="opened"></div>

<div class="k-window-wrapper" *ngIf="opened">
    <kendo-window (close)="dismiss()" [resizable]="true" [draggable]="true" [top]="30">
        <kendo-window-titlebar>
            <div class="k-window-title">
                Copia Checklist
            </div>
            <button kendoWindowMinimizeAction></button>
            <button kendoWindowRestoreAction></button>
            <button kendoWindowMaximizeAction></button>
            <button kendoWindowCloseAction></button>
        </kendo-window-titlebar>
        <form name="copy-activity-modal-form" #form="ngForm" novalidate autocomplete="off" (submit)="close()"
            style="min-width: 600px;">

            <div class="row">
                <kendo-formfield class="form-group">
                    <label>Tipologia impianto</label>
                    <kendo-combobox [data]="productTypes" 
                        [(ngModel)]="options.productTypeId" 
                        name="productTypeId"
                        suggest="true"
                        textField="name"
                        [valuePrimitive]="true"
                        valueField="id"
                        required>
                    </kendo-combobox>
                    <kendo-formerror>Tipologia impianto è il campo obbligatorio</kendo-formerror>
                </kendo-formfield>
                <kendo-formfield class="form-group">
                    <label class="custom-form-field-label">Tipo attività</label>
                    <kendo-combobox [data]="activityTypes" 
                        [(ngModel)]="options.activityTypeId" 
                        name="activityTypeId"
                        suggest="true"
                        textField="name"
                        [valuePrimitive]="true"
                        valueField="id"
                        required>
                    </kendo-combobox>
                    <kendo-formerror>Tipo attività è il campo obbligatorio</kendo-formerror>
                </kendo-formfield>
            </div>

            <!--</kendo-expansionpanel>-->
            <hr class="border-green"/>

            <div class="d-flex justify-content-end gap-2 mt-5">
                <button type="button" (click)="dismiss()" class="btn btn-secondary">
                    <i class="fa fa-rotate-left me-2"></i> ANNULLA
                </button>
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-floppy-disk me-2"></i> COPIA
                </button>
            </div>
        </form>
    </kendo-window>
</div>
