<div class="k-overlay" *ngIf="opened"></div>

<div class="k-window-wrapper" *ngIf="opened">
    <kendo-window (close)="dismiss()" [resizable]="false" [draggable]="false"[top]="100">
        <kendo-window-titlebar>
            <div class="k-window-title">
                Commento
            </div>
            <div class="text-right">
                <button type="button" (click)="dismiss()" class="btn btn-secondary me-2">
                    <i class="fa fa-rotate-left me-2"></i> ANNULLA
                </button>
                <button type="button" (click)="close()" class="btn btn-primary">
                    <i class="fa fa-floppy-disk me-2"></i> SALVA
                </button>
            </div>
            <button kendoWindowCloseAction></button>
        </kendo-window-titlebar>
        <form name="messageModalForm" #form="ngForm" novalidate autocomplete="off" (ngSubmit)="close()" *ngIf="options" class="redimensionModal">
            <div class="row">
                
                <div class="col-md-3">
                    <label>Data</label>
                    <div class="form-group">
                        <kendo-datepicker format="dd/MM/yyyy" name="date" [(ngModel)]="options.message.date"
                            [min]="options.date">
                        </kendo-datepicker>
                        <div class="validation-message" [control]="form.controls['date']"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label>Commento</label>
                    <div class="form-group">
                        <kendo-editor name="note" [(ngModel)]="options.message.note" [resizable]="true" style="height: 200px;"
                            [iframe]="false" required>
                            <kendo-toolbar>
                                <kendo-toolbar-buttongroup>
                                    <kendo-toolbar-button kendoEditorBoldButton></kendo-toolbar-button>
                                    <kendo-toolbar-button kendoEditorItalicButton></kendo-toolbar-button>
                                    <kendo-toolbar-button kendoEditorUnderlineButton></kendo-toolbar-button>
                                </kendo-toolbar-buttongroup>
                                <kendo-toolbar-colorpicker kendoEditorForeColor></kendo-toolbar-colorpicker>
                                <kendo-toolbar-buttongroup>
                                    <kendo-toolbar-button kendoEditorInsertUnorderedListButton></kendo-toolbar-button>
                                </kendo-toolbar-buttongroup>
                            </kendo-toolbar>
                        </kendo-editor>
                        <div class="validation-message" [control]="form.controls['note']"></div>
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="hasTargetOperators">
                <div class="col-md-12">
                    <label>Operatori</label>
                    <div class="form-group">
                        <kendo-multiselect [data]="operators" textField="name" valueField="id" name="operators"
                            [(ngModel)]="options.targetOperators" required [allowCustom]="false" [valuePrimitive]="true"
                            [readonly]="readonly">
                            <ng-template kendoMultiSelectItemTemplate let-dataItem>
                                <div class="d-flex gap-1">
                                    <app-operator-avatar [options]="dataItem"></app-operator-avatar>
                                    {{ dataItem.name }}
                                </div>
                            </ng-template>
                            <ng-template kendoMultiSelectTagTemplate let-dataItem>
                                <div class="d-flex gap-1">
                                    <app-operator-avatar [options]="dataItem"></app-operator-avatar>
                                    {{ dataItem.name }}
                                </div>
                            </ng-template>
                        </kendo-multiselect>
                        <div class="validation-message" [control]="form.controls['operators']"></div>
                    </div>
                </div>
            </div>
            <div class="text-right mt-5">
                <button type="button" (click)="dismiss()" class="btn btn-secondary me-2">
                    <i class="fa fa-rotate-left me-2"></i> ANNULLA
                </button>
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-floppy-disk me-2"></i> SALVA
                </button>
            </div>
        </form>
    </kendo-window>
</div>
