<div class="k-overlay" *ngIf="opened"></div>

<div class="k-window-wrapper" *ngIf="opened">
    <kendo-window (close)="dismiss()" [resizable]="false" [draggable]="false" [width]="700" [top]="110">
        <kendo-window-titlebar>
            <div class="k-window-title">
                Tipo Intervento
            </div>
            <button kendoWindowCloseAction></button>
        </kendo-window-titlebar>
        <form name="updateActivityTypeForm" #form="ngForm" novalidate autocomplete="off" (ngSubmit)="close()" *ngIf="options">
            <div class="row riga-form">
                <div class="col-md-6">
                    <kendo-formfield class="form-group">
                        <label>Nome</label>
                        <kendo-textbox [(ngModel)]="options.name" 
                            name="name"
                            required>
                        </kendo-textbox>
                        <kendo-formerror>Nome è un campo obbligatorio</kendo-formerror>
                    </kendo-formfield>
                </div>
                <div class="col-md-6">
                    <kendo-formfield class="form-group">
                        <label>Email</label>
                        <kendo-textbox [(ngModel)]="options.email" 
                            name="email"
                            type="email"
                            required>
                        </kendo-textbox>
                        <kendo-formerror>Email è il campo obbligatorio</kendo-formerror>
                    </kendo-formfield>
                </div>
            </div>
            <div class="row riga-form">
                <div class="col-md-6">
                    <kendo-formfield class="form-group">
                        <label>Trasporto principale</label>
                        <kendo-combobox [data]="vehicles" 
                            [(ngModel)]="options.defaultVehicleId" 
                            name="defaultVehicleId"
                            suggest="true"
                            textField="description"
                            [valuePrimitive]="true"
                            valueField="id"
                            required>
                        </kendo-combobox>
                        <kendo-formerror>Trasporto principale è il campo obbligatorio</kendo-formerror>
                    </kendo-formfield>
                </div>
                <div class="col-md-3">
                    <kendo-formfield class="form-group">
                        <label>Colore</label>
                        <kendo-colorpicker [(ngModel)]="options.colorHex" name="colorHex" required></kendo-colorpicker>
                        <kendo-formerror>Colore è il campo obbligatorio</kendo-formerror>
                    </kendo-formfield>
                </div>
                <div *ngIf="options.id != null" class="col-md-3">
                    <label>&nbsp;</label>
                    <div class="form-group">
                        <button type="button" class="btn btn-primary" title="Note" (click)="viewDocuments()">
                            <i class="fa fa-file"></i> Certificati
                        </button>
                    </div>
                </div>
            </div>
            <div class="text-right mt-5">
                <button type="button" (click)="dismiss()" class="btn btn-secondary me-2">
                    ANNULLA
                </button>
                <button type="submit" class="btn btn-primary">
                    SALVA
                </button>
            </div>
        </form>
    </kendo-window>
</div>
