<div class="k-overlay" *ngIf="opened"></div>

<div class="k-window-wrapper" *ngIf="opened">
    <kendo-window (close)="dismiss()" [resizable]="false" [draggable]="false"[top]="100">
        <kendo-window-titlebar>
            <div class="k-window-title">
                Operatore
            </div>
            <button kendoWindowCloseAction></button>
        </kendo-window-titlebar>
        <form name="updateActivityTypeForm" #form="ngForm" novalidate autocomplete="off" (ngSubmit)="close()" *ngIf="options" class="redimensionModal">
            <div class="row riga-form">
                <div class="col-md-6">
                    <kendo-formfield class="form-group">
                        <label>Nome</label>
                        <kendo-textbox [(ngModel)]="options.name" 
                            name="name"
                            required>
                        </kendo-textbox>
                        <kendo-formerror>Nome è un campo obbligatorio</kendo-formerror>
                    </kendo-formfield>
                </div>
                <div class="col-md-6">
                    <kendo-formfield class="form-group">
                        <label>Email</label>
                        <kendo-textbox [(ngModel)]="options.email" 
                            name="email"
                            type="email"
                            required>
                        </kendo-textbox>
                        <kendo-formerror>Email è il campo obbligatorio</kendo-formerror>
                    </kendo-formfield>
                </div>
            </div>
            <div class="row riga-form">
                <div class="col-md-6">
                    <kendo-formfield class="form-group">
                        <label>Trasporto principale</label>
                        <kendo-combobox [data]="vehicles" 
                            [(ngModel)]="options.defaultVehicleId" 
                            name="defaultVehicleId"
                            suggest="true"
                            textField="description"
                            [valuePrimitive]="true"
                            valueField="id"
                            required>
                        </kendo-combobox>
                        <kendo-formerror>Trasporto principale è il campo obbligatorio</kendo-formerror>
                    </kendo-formfield>
                </div>
                <div class="col-md-3">
                    <kendo-formfield class="form-group">
                        <label>Colore</label>
                        <kendo-colorpicker [(ngModel)]="options.colorHex" name="colorHex" format="hex"  required></kendo-colorpicker>
                        <kendo-formerror>Colore è il campo obbligatorio</kendo-formerror>
                    </kendo-formfield>
                </div>             
            </div>

            <div class="row riga-form form-group">
                <div class="col-md-2">
                    <kendo-formfield class="form-group">  
                        <kendo-label class="k-checkbox-label" [for]="notification">Assegna Utente?</kendo-label>
                       
                        <input type="checkbox" [(ngModel)]="options.hasUser" name="hasUser" #notification kendoCheckBox />
                    </kendo-formfield>
                </div>
                <div class="col-md-5" *ngIf="options.hasUser">
                    <kendo-formfield class="form-group">    
                        <label>Username</label>
                        <kendo-textbox [(ngModel)]="options.username" name="username"></kendo-textbox>
                    </kendo-formfield>
                </div>
                <div class="col-md-5" *ngIf="options.hasUser">
                    <kendo-formfield class="form-group">    
                        <label>Password</label>
                        <kendo-textbox [(ngModel)]="options.password" name="password" ></kendo-textbox>
                    </kendo-formfield>
                </div>

            </div>

            <div class="row riga-form form-group">
                <div class="col-md-12">
                    <kendo-formfield class="form-group">                            
                        <label>Allegati</label>
                        <kendo-upload [(ngModel)]="this.attachmentsFileInfo" (select)="AttachmentSelect($event)" (success)="AttachmentExecutionSuccess($event)" [saveUrl]="uploadSaveUrl" [removeUrl]="uploadRemoveUrl" name="myUpload">
                            <ng-template kendoUploadFileInfoTemplate let-files>
                                <span *ngIf="!isUploaded">{{ files[0].name }}</span>
                                <a [href]="CreateUrl(files[0].name)" target="_blank" *ngIf="isUploaded">{{ files[0].name }}</a>
                            </ng-template>
                        </kendo-upload>
                    </kendo-formfield>
                </div>
            </div>
            <div class="text-right mt-5">
                <button type="button" (click)="dismiss()" class="btn btn-secondary me-2">
                    ANNULLA
                </button>
                <button type="submit" class="btn btn-primary">
                    SALVA
                </button>
            </div>
        </form>
    </kendo-window>
</div>
<app-operator-documents-modal #operatorDocumentsModal></app-operator-documents-modal>