<div class="d-flex align-items-center mb-3">
    <div class="col">
        <h3>Prodotti</h3>
    </div>
    <div class="col-auto">
        <button (click)="createProduct()" class="btn btn-primary btn-sm">
            <i class="fas fa-plus"></i>
            NUOVO
        </button>
    </div>
</div>

<div class="grid-container">
<kendo-grid [data]="products" [pageSize]="stateGridProducts.take" 
            [skip]="stateGridProducts.skip" [sort]="stateGridProducts.sort" 
            [filter]="stateGridProducts.filter"
            [group]="stateGridProducts.group" filterable="menu" 
            [sortable]="true" [pageable]="true" scrollable="none" [style.width.px]="screenWidth"
            (dataStateChange)="dataStateChange($event)">
    <kendo-grid-column field="productType" title="Tipologia impianto"></kendo-grid-column>
    <kendo-grid-column field="code" title="Codice"></kendo-grid-column>
    <kendo-grid-column field="name" title="Nome"></kendo-grid-column>
    <kendo-grid-column field="pictureFileName" title="Immagine">
        <ng-template kendoGridCellTemplate let-dataItem>
            <img *ngIf="dataItem.pictureFileName != null" [src]="pathImage + dataItem.pictureFileName" alt="" width="100px">
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="description" title="Descrizione"></kendo-grid-column>
    <kendo-grid-column field="serialNumber" title="Matricola"></kendo-grid-column>
    <kendo-grid-column field="monthlyMaintenance" title="Man. Mens." [width]="1">
        <ng-template kendoGridCellTemplate let-dataItem>
            @if (dataItem.monthlyMaintenance) {
                <strong>{{dataItem.monthlyMaintenance | bool}}</strong>
            }
            @else
            {
                {{dataItem.monthlyMaintenance | bool}}
            }
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="id" [sortable]="false" [filterable]="false" title=" " [width]="130">
        <ng-template kendoGridCellTemplate let-dataItem>
            <button *ngIf="dataItem.qrCode != '0000'" (click)="viewQrCodeProduct(dataItem)" class="btn btn-primary btn-sm grid-action-button" title="Visualizza QR">
                <i class="fas fa-qrcode"></i>
            </button>
            <button (click)="editProduct(dataItem.id)" class="btn btn-primary btn-sm grid-action-button" title="Modifica">
                <i class="fas fa-edit"></i>
            </button>
            <button (click)="deleteProduct(dataItem.id)" class="btn btn-danger btn-sm grid-action-button" title="Elimina">
                <i class="fas fa-trash"></i>
            </button>
        </ng-template>
    </kendo-grid-column>
</kendo-grid>
</div>

<app-product-modal #productModal></app-product-modal>
<app-product-qr-code-modal #productQrCodeModal></app-product-qr-code-modal>