<div class="k-overlay" *ngIf="opened"></div>

<div class="k-window-wrapper" *ngIf="opened">
    <kendo-window (close)="dismiss()" [resizable]="true" [draggable]="true" [top]="50">
        <kendo-window-titlebar>
            <div class="k-window-title">
                Aggiungi costo
            </div>
            <div class="text-right">
                <button type="button" (click)="dismiss()" class="btn btn-secondary me-2">
                    <i class="fa fa-rotate-left me-2"></i> ANNULLA
                </button>
                <button type="button" (click)="close()" class="btn btn-primary">
                    <i class="fa fa-floppy-disk me-2"></i> SALVA
                </button>
            </div>
            <button kendoWindowCloseAction></button>
        </kendo-window-titlebar>
        <form name="purchase-order-item-modal-form" #form="ngForm" novalidate autocomplete="off" (submit)="close()"
            class="redimensionModal">

            <div class="row">
                <div class="col-md-4">
                    <label>Commessa</label>
                    <div class="form-group">
                        <kendo-combobox [data]="jobs" textField="fullName" valueField="id" name="job" id="jobId"
                            [valuePrimitive]="true" [(ngModel)]="options.jobId" required [suggest]="true"
                            [allowCustom]="false" (valueChange)="onJobChange()">
                            <ng-template kendoComboBoxItemTemplate let-dataItem>
                                <div class="d-flex align-items-center gap-1">
                                    <span>
                                        {{dataItem.fullName}}
                                    </span>
                                </div>
                            </ng-template>
                        </kendo-combobox>
                        <div class="validation-message" [control]="form.controls['jobId']"></div>
                    </div>
                </div>
                <div class="col-md-4">
                    <label>Voce di costo</label>
                    <div class="form-group">
                        <kendo-textbox name="note" [(ngModel)]="options.note" required></kendo-textbox>
                        <div class="validation-message" [control]="form.controls['note']"></div>
                    </div>
                </div>
                <div class="col-md-2">
                    <label>Quantità</label>
                    <div class="form-group">
                        <kendo-numerictextbox name="quantity" [(ngModel)]="options.quantity" [min]="0.01" required
                            format="0.00" [decimals]="2">
                        </kendo-numerictextbox>
                        <div class="validation-message" [control]="form.controls['quantity']"></div>
                    </div>
                </div>
                <div class="col-md-2" *ngIf="isAdmin">
                    <label>Prezzo Unit.</label>
                    <div class="form-group">
                        <kendo-numerictextbox name="unitPrice" [(ngModel)]="options.unitPrice" [min]="0" required
                            format="0.00" [decimals]="2">
                        </kendo-numerictextbox>
                        <div class="validation-message" [control]="form.controls['unitPrice']"></div>
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="isAdmin">
                <div class="col-md-12 text-end">
                    <strong>Totale: {{ (options.quantity ?? 0) * (options.unitPrice ?? 0) | number:'1.2-2' }} €</strong>
                </div>
            </div>

            <div class="d-flex justify-content-end gap-2 mt-5">
                <button type="button" (click)="dismiss()" class="btn btn-secondary">
                    <i class="fa fa-rotate-left me-2"></i> ANNULLA
                </button>
                <button type="submit" class="btn btn-primary">
                    Conferma
                </button>
            </div>
        </form>
    </kendo-window>
</div>
