<div class="k-overlay" *ngIf="opened"></div>

<div class="k-window-wrapper" *ngIf="opened">
    <kendo-window (close)="dismiss()" [resizable]="true" [draggable]="true" [top]="30" [(state)]="windowState">
        <kendo-window-titlebar>
            <div *ngIf="!!options.purchaseOrder.id" class="k-window-title">
                Ordine {{options.purchaseOrder.number}} &bull; {{status | purchaseOrderStatus}}
            </div>
            <div *ngIf="!options.purchaseOrder.id" class="k-window-title">
                Nuovo Ordine
            </div>
            <button kendoWindowMinimizeAction></button>
            <button kendoWindowRestoreAction></button>
            <button kendoWindowMaximizeAction></button>
            <button kendoWindowCloseAction></button>
        </kendo-window-titlebar>
        <form name="activity-modal-form" #form="ngForm" novalidate autocomplete="off" (submit)="close()"
            class="redimensionModal">

            <div class="row">
                <div class="col-md-2">
                    <label>Anno</label>
                    <div class="form-group">
                        <input class="form-control" name="year" [(ngModel)]="options.purchaseOrder.year" novalidate
                            autocomplete="off" disabled />
                        <div class="validation-message" [control]="form.controls['year']"></div>
                    </div>
                </div>
                <div class="col-md-2">
                    <label>Numero</label>
                    <div class="form-group">
                        <input class="form-control" name="number" [(ngModel)]="options.purchaseOrder.number" novalidate
                            autocomplete="off" disabled />
                        <div class="validation-message" [control]="form.controls['number']"></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <label>Data</label>
                    <div class="form-group">
                        <kendo-datepicker format="dd/MM/yyyy" name="date" [(ngModel)]="options.purchaseOrder.date"
                            required [disabled]="!!options.id" (valueChange)="onDateChange()">
                        </kendo-datepicker>
                        <div class="validation-message" [control]="form.controls['date']"></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <label>Data Prevista Consegna</label>
                    <div class="form-group">
                        <kendo-datepicker format="dd/MM/yyyy" name="expectedDate" [(ngModel)]="options.purchaseOrder.expectedDate" >
                        </kendo-datepicker>
                        <div class="validation-message" [control]="form.controls['expectedDate']"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <label>Commessa</label>
                    <div class="form-group">
                        <kendo-combobox [data]="jobs" textField="fullName" valueField="id" name="jobId"
                            [(ngModel)]="options.purchaseOrder.jobId" [suggest]="true" [allowCustom]="false"
                            [kendoDropDownFilter]="{caseSensitive:false, operator:'contains'}" [valuePrimitive]="true"
                            [readonly]="jobReadonly">
                        </kendo-combobox>
                        <div class="validation-message" [control]="form.controls['jobId']"></div>
                    </div>
                </div>
                <div class="col-md-4">
                    <label>Fornitore</label>
                    <kendo-formfield class="form-group">
                        <kendo-combobox [data]="suppliers" [valuePrimitive]="true" textField="name" valueField="id"
                            name="supplierId" [(ngModel)]="options.purchaseOrder.supplierId" [suggest]="true"
                            [kendoDropDownFilter]="{caseSensitive:false, operator:'contains'}" [allowCustom]="false"
                            [disabled]="!!options.id" (valueChange)="onSupplierChange()" required class="customer-combobox">
                        </kendo-combobox>
                        <button (click)="createSupplier()" type="button" class="btn btn-primary add-customer-button"
                            title="Nuovo fornitore">
                            <i class="fa fa-plus"></i>
                        </button>
                        <div class="validation-message" [control]="form.controls['supplierId']"></div>
                    </kendo-formfield>
                </div>
                <div class="col-md-3">
                    <label>Stato</label>
                    <div class="form-group">
                        <kendo-dropdownlist [data]="states" [valuePrimitive]="true" name="status"
                            [(ngModel)]="options.purchaseOrder.status" required>
                            <ng-template kendoDropDownListValueTemplate let-dataItem>
                                {{dataItem | purchaseOrderStatus}}
                            </ng-template>
                            <ng-template kendoDropDownListItemTemplate let-dataItem>
                                {{dataItem | purchaseOrderStatus}}
                            </ng-template>
                        </kendo-dropdownlist>
                        <div class="validation-message" [control]="form.controls['status']"></div>
                    </div>
                </div>
            </div>

            <div class="border-green mb-3"></div>

            <div class="mb-3">
                <div class="d-flex align-items-center gap-2 mb-2">
                    <h5 class="mb-0">
                        Prodotti
                    </h5>
                    <button type="button" (click)="addProduct()" class="btn btn-primary btn-sm"
                        title="Aggiungi prodotto">
                        <i class="fas fa-plus"></i> Aggiungi prodotto
                    </button>
                </div>
                <div>
                    <kendo-grid [data]="gridData" [pageSize]="gridState.take" [skip]="gridState.skip"
                        [sort]="gridState.sort" filterable="menu" [filter]="gridState.filter" [group]="gridState.group"
                        [sortable]="true" [pageable]="true" scrollable="none"
                        (dataStateChange)="onDataStateChange($event)">

                        <kendo-grid-column field="productImage" title="&nbsp;" [sortable]="false" [filterable]="false"
                            [width]="1">
                            <ng-template kendoGridCellTemplate let-dataItem>
                                <a *ngIf="dataItem.productImage" [href]="imagesUrl + dataItem.productImage"
                                    target="_blank">
                                    <img [src]="imagesUrl + dataItem.productImage" class="thumbnail-s">
                                </a>
                            </ng-template>
                        </kendo-grid-column>
                        <kendo-grid-column field="productName" title="Nome">
                        </kendo-grid-column>
                        <kendo-grid-column field="quantity" title="Q.ta" [width]="1" filter="numeric" format="0.00">
                        </kendo-grid-column>
                        <kendo-grid-column field="id" [sortable]="false" [filterable]="false" title=" " [width]="1">
                            <ng-template kendoGridCellTemplate let-dataItem>
                                <div class="d-flex text-nowrap gap-1">
                                    <button type="button" class="btn btn-primary btn-sm" title="Modifica"
                                        (click)="edit(dataItem)">
                                        <i class="fas fa-edit"></i>
                                    </button>
                                    <button type="button" class="btn btn-danger btn-sm" title="Rimuovi"
                                        (click)="askRemove(dataItem)">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                </div>
                            </ng-template>
                        </kendo-grid-column>
                    </kendo-grid>
                </div>
            </div>

            <div class="border-green mb-3"></div>

            <div class="row">
                <div class="col-md-12">
                    <label>Descrizione</label>
                    <div class="form-group">
                        <kendo-editor name="description" [(ngModel)]="options.purchaseOrder.description" required [resizable]="true" [iframe]="false">
                            <kendo-toolbar>
                                <kendo-toolbar-buttongroup>
                                    <kendo-toolbar-button kendoEditorBoldButton></kendo-toolbar-button>
                                    <kendo-toolbar-button kendoEditorItalicButton></kendo-toolbar-button>
                                    <kendo-toolbar-button kendoEditorUnderlineButton></kendo-toolbar-button>
                                </kendo-toolbar-buttongroup>
                                <kendo-toolbar-colorpicker kendoEditorForeColor></kendo-toolbar-colorpicker>
                                <kendo-toolbar-buttongroup>
                                    <kendo-toolbar-button kendoEditorInsertUnorderedListButton></kendo-toolbar-button>
                                </kendo-toolbar-buttongroup>
                                <kendo-toolbar-buttongroup>
                                    <kendo-toolbar-button kendoEditorCreateLinkButton></kendo-toolbar-button>
                                    <kendo-toolbar-button kendoEditorUnlinkButton></kendo-toolbar-button>
                                </kendo-toolbar-buttongroup>
                            </kendo-toolbar>
                        </kendo-editor>
                        <div class="validation-message" [control]="form.controls['description']"></div>
                    </div>
                </div>
            </div>
                        
            <hr class="border-green"/>
            <!--<kendo-expansionpanel title="Commenti ({{options.activity.messages.length}})" subtitle="Visualizza messaggi">-->
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Commenti ({{options.purchaseOrder.messages.length}}) <strong *ngIf="unreadMessages" style="padding-left: 15px;">Da leggere:
                                {{unreadMessages}}</strong></label>
                        <div class="row" style="margin-top:5px">
                            <div class="col-md-1">
                                <button class="btn btn-primary" title="Aggiungi nuovo commento" type="button"
                                    (click)="createMessage()">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>
                            <div class="col-md-11">
                                <div *ngFor="let item of options.purchaseOrdermessages" class="row messageTableRow">
                                    <div class="col-md-2 messageRowPadding" [ngClass]="{'messageUnread':!item.isRead}">
                                        {{item.date | date:'dd/MM/yyyy'}}</div>
                                    <div class="col-md-2 messageRowPadding" [ngClass]="{'messageUnread':!item.isRead}">
                                        {{item.operatorName}}</div>
                                    <div class="col-md-6 messageRowPadding" [ngClass]="{'messageUnread':!item.isRead}"
                                        [innerHTML]="item.note"></div>
                                    <div class="col-md-2" style="text-align: right;">
                                        <button class="btn btn-outline-primary me-2" type="button"
                                            title="Segna come letto" [disabled]="item.isRead"
                                            (click)="markAsRead(item)">
                                            <i class="fa-regular fa-square-check" *ngIf="item.isRead"></i>
                                            <i class="fa-regular fa-square" *ngIf="!item.isRead"></i>
                                        </button>
                                        <button [disabled]="item.operatorId != currentOperator.id" type="button"
                                            class="btn btn-outline-danger" title="Elimina"
                                            (click)="deleteMessage(item)">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--</kendo-expansionpanel>-->
            <hr class="border-green"/>

            <div class="row">
                <div class="col-md-3">
                    <kendo-formfield class="form-group">
                        <label>Allegati</label> 
                        <kendo-upload [(ngModel)]="this.attachments" (success)="AttachmentExecutionSuccess($event)"
                            [saveUrl]="uploadSaveUrl" [removeUrl]="uploadRemoveUrl" [multiple]="true" name="myUpload">
                            <ng-template kendoUploadFileInfoTemplate let-files>
                                <a (click)="downloadAttachment(files[0].name)" class="pointer">
                                    {{ files[0].name }}
                                </a>
                            </ng-template>
                            <kendo-upload-messages dropFilesHere=" " ></kendo-upload-messages>
                        </kendo-upload>
                    </kendo-formfield>
                </div>
                <div class="col-md-9">
                    <div class="row">
                    <div *ngFor="let item of options.purchaseOrder.attachments"class="col-2">
                            <a [href]="imagesUrl + item.fileName" target="_blank">
                                <img [src]="imagesUrl + item.fileName" width="90%" [title]="item.displayName" *ngIf="item.isImage" />
                                <img src="assets/document.jpg" width="90%" [title]="item.displayName" *ngIf="!item.isImage" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            
            <hr *ngIf="isAdmin" class="border-green"/>

            <div class="row" *ngIf="isAdmin">
                <div class="col-md-3">
                    <kendo-formfield class="form-group">
                        <label>Allegati Amministrazione</label>
                        <kendo-upload [(ngModel)]="this.adminAttachments" (success)="AttachmentExecutionSuccessAdmin($event)"
                            [saveUrl]="uploadSaveUrl" [removeUrl]="uploadRemoveUrl" [multiple]="true" name="myUpload">
                            <ng-template kendoUploadFileInfoTemplate let-files>
                                <a (click)="downloadAttachment(files[0].name)" class="pointer">
                                    {{ files[0].name }}
                                </a>
                            </ng-template>
                            <kendo-upload-messages dropFilesHere=" " ></kendo-upload-messages>
                        </kendo-upload>
                    </kendo-formfield>
                </div>
                <div class="col-md-9">
                    <div class="row">
                    <div *ngFor="let item of options.purchaseOrder.adminAttachments"class="col-2">
                            <a [href]="imagesUrl + item.fileName" target="_blank">
                                <img [src]="imagesUrl + item.fileName" width="90%" [title]="item.displayName" *ngIf="item.isImage" />
                                <img src="assets/document.jpg" width="90%" [title]="item.displayName" *ngIf="!item.isImage" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-end gap-2 mt-5">
                <button type="button" (click)="dismiss()" class="btn btn-secondary">
                    Annulla
                </button>
                <button type="submit" class="btn btn-primary">
                    Salva
                </button>
            </div>
        </form>
    </kendo-window>
</div>

<app-purchase-order-item-modal #purchaseOrderItemModal></app-purchase-order-item-modal>
<app-supplier-modal #supplierModal></app-supplier-modal>
<app-message-modal #messageModal></app-message-modal>
