
.bage-number {
    float: right;
    padding: 2px 8px;
    border-radius: 5px;
    margin-left: 5px;
    color: white;
    font-weight: bold;
    font-size: 0.8em;
}

.red-number {
    background-color: #dc3545;
    color: #FFF;
    border: 1px solid #FFF;
    text-decoration: none;
    
}