
.bage-number {
    float: right;
    padding: 2px 8px;
    border-radius: 15px;
    margin: 0 1px;
    color: white;
    font-weight: bold;
}

.green-number {
    background-color: #46a43e;
}

.red-number {
    background-color: #dc3545;
}