<div class="row">
    <div class="col-md-2">
        <img src="assets/logo_lacos.png" width="100%" />
    </div>
    <div class="col-md-10">
        <div class="row">
            <div class="col-12">
                <div class="title lacos" style="margin-bottom: 10px;"><i>Attività in corso</i></div>
            </div>
        </div>
        <div class="row">
            <div *ngFor="let activityType of activitiesCounters" class="col-md-2">
                <a class="btn btn-light dashboardBtn" [routerLink]="['/activities']"
                    [queryParams]="{typeId: activityType.activityId}"
                    [style.background-color]="activityType.activityColor || '#3485fd'" routerLinkActive="active">
                    <div class="row">
                        <div class="title col-8">{{activityType.activityName}}</div>
                        <div class="col-4">
                            <div class="green-number bage-number">{{activityType.active}}</div>
                            <div class="red-number bage-number">{{activityType.expired}}</div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <hr class="lacos" />
        <div class="row">
            <div class="col-12">
                <div class="title lacos" style="margin-bottom: 10px;"><i>Gestione Commesse</i></div>
            </div>
        </div>
        <div class="row">
            <div *ngIf="isAdmin" class="col-md-2">
                <a class="btn btn-light dashboardBtn" routerLink="/jobs" routerLinkActive="active">
                    <div class="title">Commesse</div>
                    <span><i class="fa fa-3x fa-door-open"></i></span>
                </a>
            </div>
            <div *ngIf="isAdmin" class="col-md-2">
                <a class="btn btn-light dashboardBtn" routerLink="/jobs-completed" routerLinkActive="active">
                    <div class="title">Commesse Complete</div>
                    <span><i class="fa fa-3x fa-coins"></i></span>
                </a>
            </div>
            <div class="col-md-2" *ngIf="newActivitiesCounter.newActivities>0">
                <a class="btn btn-light dashboardBtn" routerLink="/activities" routerLinkActive="active"
                    [ngStyle]="newActivitiesCounter.newActivities>0 ? {'background-color':'#ffbcbc'} : ''">
                    <div class="row">
                        <div class="col-8">
                            <div class="title">Attività</div>
                            <span><i class="fa fa-3x fa-tag"></i></span>
                        </div>
                        <div class="col-4">
                            <div class="red-number bage-number">{{newActivitiesCounter.newActivities}}</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-2" *ngIf="newActivitiesCounter.newActivities==0">
                <a class="btn btn-light dashboardBtn" routerLink="/activities" routerLinkActive="active">
                    <div class="title">Attività</div>
                    <span><i class="fa fa-3x fa-tag"></i></span>
                </a>
            </div>
            <div *ngIf="isAdmin" class="col-md-2">
                <a class="btn btn-light dashboardBtn" routerLink="/interventions" routerLinkActive="active">
                    <div class="title">Calendario</div>
                    <span><i class="fa fa-3x fa-calendar-days"></i></span>
                </a>
            </div>
            <div class="col-md-2">
                <a class="btn btn-light dashboardBtn" routerLink="/tickets" routerLinkActive="active"
                    [ngStyle]="ticketsCounters.newTickets>0 ? {'background-color':'#ffbcbc'} : ''">
                    <div class="row">
                        <div class="col-8">
                            <div class="title">Tickets</div>
                            <span><i class="fa fa-3x fa-tag"></i></span>
                        </div>
                        <div class="col-4">
                            <div class="green-number bage-number">{{ticketsCounters.openedTickets}}</div>
                            <div class="red-number bage-number">{{ticketsCounters.newTickets}}</div>
                        </div>
                    </div>
                </a>
            </div>
            <div *ngIf="isAdmin" class="col-md-2">
                <a class="btn btn-light dashboardBtn" routerLink="/purchase-orders" routerLinkActive="active">
                    <div class="title">Ordini Acquisto</div>
                    <span><i class="fa fa-3x fa-shop"></i></span>
                </a>
            </div>
        </div>
        <hr class="lacos" />
        <!-- <div class="row">
            <div class="col-12">
                <div class="title lacos" style="margin-bottom: 10px;"><i>Porte REI</i></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <a class="btn btn-light dashboardBtn" routerLink="#" routerLinkActive="active">
                    <div class="title">Porte REI</div>
                    <span><i class="fa fa-3x fa-qrcode"></i></span>
                </a>
            </div>
        </div>
        <hr class="lacos" /> -->
    </div>
</div>