<div class="row">
    <div class="col-md-3">
        <img src="assets/logo_lacos.png" width="90%" />
    </div>
    <div class="col-md-9">
        <div class="row">
            <div class="col-12">
                <div class="title lacos" style="margin-bottom: 10px;"><i>Anagrafiche</i></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <a class="btn btn-light dashboardBtn"
                        routerLink="/customers"
                        routerLinkActive="active">
                    <div class="title">Clienti</div>
                    <span><i class="fa fa-3x fa-users"></i></span>
                </a>
            </div>
            <div class="col-md-3">
                <a class="btn btn-light dashboardBtn"
                        routerLink="/products"
                        routerLinkActive="active">
                    <div class="title">Prodotti</div>
                    <span><i class="fa fa-3x fa-window-restore"></i></span>
                </a>
            </div>
            <div class="col-md-3">
                <a class="btn btn-light dashboardBtn"
                        routerLink="/checklist"
                        routerLinkActive="active">
                    <div class="title">Check Lists</div>
                    <span><i class="fa fa-3x fa-list-check"></i></span>
                </a>
            </div>
        </div>
        <hr class="lacos"/>
        <div class="row">
            <div class="col-12">
                <div class="title lacos" style="margin-bottom: 10px;"><i>Gestione Commesse</i></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <a class="btn btn-light dashboardBtn"
                        routerLink="/jobs"
                        routerLinkActive="active">
                    <div class="title">Commesse</div>
                    <span><i class="fa fa-3x fa-door-open"></i></span>
                </a>
            </div>
            <div class="col-md-3">
                <a class="btn btn-light dashboardBtn"
                        routerLink="/interventions"
                        routerLinkActive="active">
                    <div class="title">Calendario Interventi</div>
                    <span><i class="fa fa-3x fa-calendar-days"></i></span>
                </a>
            </div>
        </div>
        <hr class="lacos"/>
    </div>
</div>