<div class="d-flex align-items-center mb-3">
    <div class="col">
        <h3>Attività</h3>
    </div>

    <div class="col-auto">
        <button (click)="create()" class="btn btn-primary btn-sm">
            <i class="fas fa-plus"></i>
            NUOVA
        </button>
    </div>
</div>

<kendo-grid [data]="data" [pageSize]="gridState.take" [skip]="gridState.skip" [sort]="gridState.sort"
    [filter]="gridState.filter" [group]="gridState.group" filterable="menu" [sortable]="true" [pageable]="true"
    scrollable="none" (dataStateChange)="dataStateChange($event)" [rowClass]="rowCallback">

    <kendo-grid-column field="jobCode" title="Commessa" [width]="1">
        <ng-template kendoGridCellTemplate let-dataItem>
            <div *ngIf="!dataItem.jobHasHighPriority">{{dataItem.jobCode}}</div>
            <div *ngIf="dataItem.jobHasHighPriority" class="job-alert">
                {{dataItem.jobCode}} <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
            </div>
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="number" title="Num" [width]="1" filter="numeric" format="n0">
    </kendo-grid-column>
    <kendo-grid-column field="status" title="Stato" [width]="1" filter="numeric" class="activity-status">
        <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
            let-filterService="filterService">
            <app-multiselect-grid-column-filter [column]="column" [filter]="filter" [filterService]="filterService"
                [data]="activityStatusNames">
            </app-multiselect-grid-column-filter>
        </ng-template>
        <ng-template kendoGridCellTemplate let-dataItem>
            <span class="text-nowrap">
                {{dataItem.status | activityStatus}}
            </span>
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="type" title="Tipologia" [width]="1">
        <ng-template kendoGridCellTemplate let-dataItem>
            <span class="text-nowrap">
                {{dataItem.type}}
            </span>
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="expirationDate" title="Scadenza" filter="date" format="dd/MM/yyyy" [width]="1">
        <ng-template kendoGridCellTemplate let-dataItem>
            <span class="text-nowrap">
                {{dataItem.expirationDate | date:'dd/MM/yyyy'}}
            </span>
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="description" title="Descrizione">
    </kendo-grid-column>
    <kendo-grid-column field="customer" title="Cliente">
    </kendo-grid-column>
    <kendo-grid-column field="customerAddress" title="Indirizzo">
    </kendo-grid-column>
    <kendo-grid-column field="id" [sortable]="false" [filterable]="false" title=" " [width]="1">
        <ng-template kendoGridCellTemplate let-dataItem>
            <div class="d-flex text-nowrap gap-1">
                <button class="btn btn-primary btn-sm" title="Modifica" (click)="edit(dataItem)">
                    <i class="fas fa-edit"></i>
                </button>
                <a class="btn btn-primary btn-sm" title="Gestisci" [routerLink]="['/activities', dataItem.id]">
                    <i class="fas fa-external-link"></i>
                </a>
                <button *ngIf="dataItem.canBeRemoved" class="btn btn-danger btn-sm" title="Rimuovi"
                    (click)="askRemove(dataItem)">
                    <i class="fas fa-trash"></i>
                </button>
            </div>
        </ng-template>
    </kendo-grid-column>

</kendo-grid>

<app-activity-modal #activityModal></app-activity-modal>
