<div class="d-flex align-items-center mb-3">
    <div class="col">
        <h3>Attività</h3>
    </div>

    <div class="col-auto">
        <button (click)="create()" class="btn btn-primary btn-sm">
            <i class="fas fa-plus"></i>
            NUOVA
        </button>
    </div>
</div>

<kendo-grid [data]="data" [pageSize]="gridState.take" [skip]="gridState.skip" [sort]="gridState.sort"
    [filter]="gridState.filter" [group]="gridState.group" filterable="menu" [sortable]="true" [pageable]="true"
    scrollable="none" (dataStateChange)="dataStateChange($event)" [rowClass]="rowCallback"
    (cellClick)="cellClickHandler($event)" (dblclick)="onDblClick()">

    <kendo-grid-column field="activityColor" [sortable]="false" [filterable]="false" title=" " class="activity-color">
        <ng-template kendoGridCellTemplate let-dataItem>
            <div [style.background-color]="dataItem.activityColor">&nbsp;</div>
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="customer" title="Cliente">
        <ng-template kendoGridCellTemplate let-dataItem>
            <a (click)="openCustomer(dataItem.customerId)" style="cursor: pointer;">{{dataItem.customer}}</a>
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="jobCode" title="Comm." [width]="1">
        <ng-template kendoGridCellTemplate let-dataItem>
            <div *ngIf="!dataItem.jobHasHighPriority">{{dataItem.jobCode}}</div>
            <div *ngIf="dataItem.jobHasHighPriority" class="job-alert">
                {{dataItem.jobCode}} <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
            </div>
        </ng-template>
    </kendo-grid-column>
    <!-- <kendo-grid-column field="number" title="N." [width]="1" filter="numeric" format="n0">
    </kendo-grid-column> -->
    <kendo-grid-column field="status" title="Stato" [width]="1" filter="numeric" class="activity-status">
        <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
            let-filterService="filterService">
            <app-multiselect-grid-column-filter [column]="column" [filter]="filter" [filterService]="filterService"
                [data]="activityStatusNames">
            </app-multiselect-grid-column-filter>
        </ng-template>
        <ng-template kendoGridCellTemplate let-dataItem>
            <span class="text-nowrap">
                {{dataItem | activityStatus}}
            </span>
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="jobReference" title="Riferimento" >
    </kendo-grid-column>
    <kendo-grid-column field="shortDescription" title="Descrizione Attività" >
    </kendo-grid-column>
    <kendo-grid-column field="expirationDate" title="Scadenza" filter="date" format="dd/MM/yyyy" [width]="1">
        <ng-template kendoGridCellTemplate let-dataItem>
            <div class="text-nowrap job-alert" *ngIf="dataItem.isExpired">
                {{dataItem.expirationDate | date:'dd/MM/yyyy'}}
            </div>
            <div class="text-nowrap" *ngIf="!dataItem.isExpired">
                {{dataItem.expirationDate | date:'dd/MM/yyyy'}}
            </div>
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="referentName" title="Operatore">
        <ng-template kendoGridCellTemplate let-dataItem>
            <div *ngIf="!dataItem.isNewReferent || dataItem.referentId != currentOperator.id">{{dataItem.referentName}}</div>
            <div *ngIf="dataItem.isNewReferent && dataItem.referentId == currentOperator.id" class="job-alert">
                {{dataItem.referentName}} <i class="fa fa-bell" aria-hidden="true"></i>
            </div>
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="lastOperator" title="Inser. Da" [width]="1">
    </kendo-grid-column>
    <kendo-grid-column field="unreadMessages" title="" filterable="false">
        <ng-template kendoGridCellTemplate let-dataItem>
            <div *ngIf="dataItem.unreadMessages" style="width: 35px; text-align: center;"><a (click)="edit(dataItem)" style="cursor: pointer;"><i class="fa-regular fa-message job-alert"></i> <span class="job-alert"> {{dataItem.unreadMessages}}</span></a></div>
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="id" [sortable]="false" [filterable]="false" title=" " [width]="1">
        <ng-template kendoGridCellTemplate let-dataItem>
            <div class="d-flex text-nowrap gap-1">
                <button class="btn btn-primary btn-sm" title="Modifica" (click)="edit(dataItem)">
                    <i class="fas fa-edit"></i>
                </button>
                <button class="btn btn-primary btn-sm" title="Gestisci" [routerLink]="['/activities', dataItem.id]" [disabled]="dataItem.isInternal">
                    <i class="fas fa-gear"></i>
                </button>
                <button *ngIf="dataItem.canBeRemoved" class="btn btn-danger btn-sm" title="Rimuovi"
                    (click)="askRemove(dataItem)">
                    <i class="fas fa-trash"></i>
                </button>
            </div>
        </ng-template>
    </kendo-grid-column>

</kendo-grid>

<app-activity-modal #activityModal></app-activity-modal>
<app-customer-modal #customerModal></app-customer-modal>
