<div class="k-overlay" *ngIf="opened"></div>

<div class="k-window-wrapper" *ngIf="opened">
    <kendo-window (close)="dismiss()" [resizable]="true" [draggable]="true" [top]="30">
        <kendo-window-titlebar>
            <div *ngIf="!!options.activity.id" class="k-window-title">
                Attività {{options.activity.number}} &bull; {{options.activity | activityStatus}}
            </div>
            <div *ngIf="!options.activity.id" class="k-window-title">
                Nuova attività
            </div>
            <div class="text-right">
                <button type="button" (click)="dismiss()" class="btn btn-secondary me-2">
                    <i class="fa fa-rotate-left me-2"></i> ANNULLA
                </button>
                <button type="button" (click)="close()" class="btn btn-primary">
                    <i class="fa fa-floppy-disk me-2"></i> SALVA
                </button>
            </div>
            <button kendoWindowMinimizeAction></button>
            <button kendoWindowRestoreAction></button>
            <button kendoWindowMaximizeAction></button>
            <button kendoWindowCloseAction></button>
        </kendo-window-titlebar>
        <form name="activity-modal-form" #form="ngForm" novalidate autocomplete="off" (submit)="close()"
            class="redimensionModal">

            <div class="row">
                <div class="col-md-1">
                    <label>Numero</label>
                    <div class="form-group">
                        <input class="form-control" name="number" [ngModel]="options.activity.number" novalidate
                            autocomplete="off" disabled />
                        <div class="validation-message" [control]="form.controls['number']"></div>
                    </div>
                </div>
                <div class="col-md-7">
                    <label>Commessa</label>
                    <div class="form-group">
                        <kendo-combobox [data]="jobs" textField="fullName" valueField="id" name="jobId"
                            [(ngModel)]="options.activity.jobId" required [suggest]="true" [allowCustom]="false"
                            [kendoDropDownFilter]="{caseSensitive:false, operator:'contains'}" [valuePrimitive]="true"
                            (valueChange)="onJobChanged()" [readonly]="jobReadonly">
                        </kendo-combobox>
                        <div class="validation-message" [control]="form.controls['jobId']"></div>
                    </div>
                </div>
                <div class="col-md-4">
                    <label>Tipologia</label>
                    <div class="form-group">
                        <kendo-combobox [data]="activityTypes" [valuePrimitive]="true" textField="name" valueField="id"
                            name="typeId" [(ngModel)]="options.activity.typeId" required [suggest]="true"
                            (valueChange)="onActivityTypeChange()"
                            [kendoDropDownFilter]="{caseSensitive:false, operator:'contains'}" [allowCustom]="false"
                            [disabled]="options.activity.id">
                        </kendo-combobox>
                        <div class="validation-message" [control]="form.controls['typeId']"></div>
                    </div>
                </div>
            </div>

            <div class="row" *ngIf="selectedActivityType?.isExternal">
                <div class="col-md-6">
                    <label>Fornitore</label>
                    <kendo-formfield class="form-group">
                        <kendo-combobox [data]="suppliers" [valuePrimitive]="true" textField="name" valueField="id"
                            name="supplierId" [(ngModel)]="options.activity.supplierId" [suggest]="true"
                            [kendoDropDownFilter]="{caseSensitive:false, operator:'contains'}" [allowCustom]="false"
                            [disabled]="!!options.id" (valueChange)="onSupplierChange()" class="customer-combobox">
                        </kendo-combobox>
                        <button (click)="createSupplier()" type="button" class="btn btn-primary add-customer-button"
                            title="Nuovo fornitore">
                            <i class="fa fa-plus"></i>
                        </button>
                        <div class="validation-message" [control]="form.controls['supplierId']"></div>
                    </kendo-formfield>
                </div>
                <div class="col-md-6">
                    <label>Indirizzo</label>
                    <div class="form-group">
                        <kendo-combobox [data]="addresses" [valuePrimitive]="true" textField="fullAddress"
                            class="address-combobox" valueField="id" name="addressId"
                            [kendoDropDownFilter]="{caseSensitive:false, operator:'contains'}"
                            [(ngModel)]="options.activity.addressId" [suggest]="true" [allowCustom]="false">
                        </kendo-combobox>
                        <div class="validation-message" [control]="form.controls['addressId']"></div>
                        <button (click)="createAddress()" type="button" class="btn btn-primary add-address-button"
                            title="Nuovo indirizzo" *ngIf="!options.activity.supplierId">
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="!selectedActivityType?.isExternal && !selectedActivityType?.isInternal">
                <div class="col-md-6">
                    <label>Indirizzo</label>
                    <div class="form-group">
                        <kendo-combobox [data]="addresses" [valuePrimitive]="true" textField="fullAddress"
                            class="address-combobox" valueField="id" name="addressId"
                            [(ngModel)]="options.activity.addressId"
                            [kendoDropDownFilter]="{caseSensitive:false, operator:'contains'}"
                            [required]="!selectedActivityType?.isInternal" [suggest]="true" [allowCustom]="false">
                        </kendo-combobox>
                        <div class="validation-message" [control]="form.controls['addressId']"></div>
                        <button (click)="createAddress()" type="button" class="btn btn-primary add-address-button"
                            title="Nuovo indirizzo">
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <label>Operatore</label>
                    <kendo-combobox [data]="operators" [valuePrimitive]="true" textField="name" valueField="id"
                        name="referentId" [(ngModel)]="options.activity.referentId" required [suggest]="true"
                        [kendoDropDownFilter]="{caseSensitive:false, operator:'contains'}" [allowCustom]="false"
                        [disabled]="!selectedActivityType?.isExternal && !selectedActivityType?.isInternal">
                    </kendo-combobox>
                </div>
                <div class="col-md-3">
                    <label>Scadenza</label>
                    <div class="form-group">
                        <kendo-datepicker name="expirationDate" [(ngModel)]="options.activity.expirationDate"
                            format="dd/MM/yyyy">
                        </kendo-datepicker>
                        <div class="validation-message" [control]="form.controls['expirationDate']"></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <label>Stato</label>
                    <div class="form-group">
                        <kendo-dropdownlist [data]="states" [valuePrimitive]="true" name="status"
                            [(ngModel)]="options.activity.status" required>
                            <ng-template kendoDropDownListValueTemplate let-dataItem>
                                {{options.activity | activityStatus}}
                            </ng-template>
                            <ng-template kendoDropDownListItemTemplate let-dataItem>
                                {{{status: dataItem, statusLabel0: options.activity.statusLabel0, statusLabel1:
                                options.activity.statusLabel1, statusLabel2: options.activity.statusLabel2, statusLabel3: options.activity.statusLabel3} |
                                activityStatus}}
                            </ng-template>
                        </kendo-dropdownlist>
                        <div class="validation-message" [control]="form.controls['status']"></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <label>Attività</label>
                    <div class="form-group">
                        <input class="form-control" name="shortDescription"
                            [(ngModel)]="options.activity.shortDescription" maxlength="255" novalidate
                            autocomplete="off" />
                        <div class="validation-message" [control]="form.controls['shortDescription']"></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Descrizione</label>
                        <kendo-editor name="informations" [(ngModel)]="options.activity.informations" [resizable]="true"
                            [iframe]="false">
                            <kendo-toolbar>
                                <kendo-toolbar-buttongroup>
                                    <kendo-toolbar-button kendoEditorBoldButton></kendo-toolbar-button>
                                    <kendo-toolbar-button kendoEditorItalicButton></kendo-toolbar-button>
                                    <kendo-toolbar-button kendoEditorUnderlineButton></kendo-toolbar-button>
                                </kendo-toolbar-buttongroup>
                                <kendo-toolbar-colorpicker kendoEditorForeColor></kendo-toolbar-colorpicker>
                                <kendo-toolbar-buttongroup>
                                    <kendo-toolbar-button kendoEditorInsertUnorderedListButton></kendo-toolbar-button>
                                </kendo-toolbar-buttongroup>
                            </kendo-toolbar>
                        </kendo-editor>
                        <div class="validation-message" [control]="form.controls['informations']"></div>
                    </div>
                </div>
            </div>

            <hr class="border-green"/>
            <!--<kendo-expansionpanel title="Commenti ({{options.activity.messages.length}})" subtitle="Visualizza messaggi">-->
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Commenti ({{options.activity.messages.length}}) <strong *ngIf="unreadMessages"
                                style="padding-left: 15px;">Da leggere:
                                {{unreadMessages}}</strong></label>
                        <div class="row" style="margin-top:5px">
                            <div class="col-md-1">
                                <button class="btn btn-primary" title="Aggiungi nuovo commento" type="button"
                                    (click)="createMessage()">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>
                            <div class="col-md-11">
                                <div *ngFor="let item of options.activity.messages" class="row messageTableRow">
                                    <div class="col-md-2 messageRowPadding" [ngClass]="{'messageUnread':!item.isRead}">
                                        {{item.date | date:'dd/MM/yyyy'}}</div>
                                    <div class="col-md-2 messageRowPadding" [ngClass]="{'messageUnread':!item.isRead}">
                                        {{item.operatorName}}</div>
                                    <div class="col-md-6 messageRowPadding" [ngClass]="{'messageUnread':!item.isRead}"
                                        [innerHTML]="item.note"></div>
                                    <div class="col-md-2" style="text-align: right;">
                                        <button [disabled]="item.operatorId != currentOperator.id" type="button"
                                            class="btn btn-outline-primary btn-sm me-2" title="Modifica" 
                                            (click)="editMessage(item)">
                                            <i class="fas fa-edit"></i>
                                        </button>
                                        <button class="btn btn-outline-primary btn-sm me-2" type="button"
                                            title="Segna come letto" [disabled]="item.isRead"
                                            (click)="markAsRead(item)">
                                            <i class="fa-regular fa-square-check" *ngIf="item.isRead"></i>
                                            <i class="fa-regular fa-square" *ngIf="!item.isRead"></i>
                                        </button>
                                        <button [disabled]="item.operatorId != currentOperator.id" type="button"
                                            class="btn btn-outline-danger btn-sm" title="Elimina"
                                            (click)="deleteMessage(item)">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--</kendo-expansionpanel>-->
            <hr class="border-green"/>

            <div class="row">
                <div class="col-md-3">
                    <kendo-formfield class="form-group">
                        <label>Allegati</label>
                        <kendo-upload [(ngModel)]="this.attachments" (success)="AttachmentExecutionSuccess($event)"
                            [saveUrl]="uploadSaveUrl" [removeUrl]="uploadRemoveUrl" [multiple]="true" name="myUpload">
                            <ng-template kendoUploadFileInfoTemplate let-files>
                                <a (click)="downloadAttachment(files[0].name)" class="pointer">
                                    {{ files[0].name }}
                                </a>
                            </ng-template>
                            <kendo-upload-messages dropFilesHere=" "></kendo-upload-messages>
                        </kendo-upload>
                    </kendo-formfield>
                </div>
                <div class="col-md-9">
                    <div class="row">
                        <div *ngFor="let item of options.activity.attachments; let i = index" class="col-2">
                            <a href="javascript:void(0)" (click)="openImage(i)" *ngIf="item.isImage">
                                <img [src]="pathImage + item.fileName" width="90%" [title]="item.displayName" />
                            </a> 
                            <a [href]="pathImage + item.fileName" target="_blank" *ngIf="!item.isImage">
                                <img src="assets/document.jpg" width="90%" [title]="item.displayName" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-end gap-2 mt-5">
                <button type="button" (click)="dismiss()" class="btn btn-secondary">
                    <i class="fa fa-rotate-left me-2"></i> ANNULLA
                </button>
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-floppy-disk me-2"></i> SALVA
                </button>
            </div>
        </form>
    </kendo-window>
</div>

<app-address-modal #addressModal></app-address-modal>
<app-supplier-modal #supplierModal></app-supplier-modal>
<app-message-modal #messageModal></app-message-modal>
<app-gallery-modal #galleryModal></app-gallery-modal>