<div class="d-flex align-items-center gap-3 mb-2">
    <h4>
        Attività {{activity.number}} &bull; {{activity | activityStatus}}
    </h4>
    <div class="d-flex gap-1">
        <a class="btn btn-primary btn-sm" (click)="editJob(activity.jobId)">
            <span class="fa fa-edit"></span>
            Modifica commessa
        </a>
        <a class="btn btn-primary btn-sm" (click)="edit()">
            <span class="fa fa-edit"></span>
            Modifica attività
        </a>
        <a class="btn btn-primary btn-sm" [routerLink]="['/','job-details']" [queryParams]="{jobId:activity.jobId}">
            <span class="fa fa-rotate-left"></span>
            Torna alla commessa
        </a>
    </div>
</div>

<div class="row mb-4 border-green">
    <div class="col-2">
        <b>
            Commessa
        </b>
        <div [innerHTML]="activity.job | domsanitizer">
        </div>
    </div>
    <div class="col-3">
        <b>
            Cliente
        </b>
        <p>
            {{activity.customer}}
        </p>
    </div>
    <div class="col-3">
        <b>
            Indirizzo
        </b>
        <p>
            {{activity.address}}
        </p>
    </div>
    <div class="col-2">
        <b>
            Tipologia
        </b>
        <p>
            {{activity.type}}
        </p>
    </div>
    <div *ngIf="activity.expirationDate" class="col-1">
        <b>
            Scadenza
        </b>
        <p>
            {{activity.expirationDate | date:'dd/MM/yyyy'}}
        </p>
    </div>
    <div class="col-1">
        <b>
            Operatore
        </b>
        <p>
            {{activity.referent}}
        </p>
    </div>
    @if (activity.hasDependencies) {
    <div class="col-12">
        <b>
            Dipendenze
        <button class="btn btn-outline-primary btn-sm" title="Visualizza dipendenze"
            (click)="openDependencies(activity.jobId, activity.id)">
            <i class="fa fa-link"></i>
        </button>
        </b>
        <div class="progress-container mb-2" [ngClass]="{'progress-hide': (activity.totalDependencies == 0)}"
            kendoTooltip title="Dipendenze evase {{activity.fulfilledDependencies}} / {{activity.totalDependencies}}">
            <div class="progress-bar"
                [style.width.%]="activity.totalDependencies ? (activity.fulfilledDependencies / activity.totalDependencies * 100) : 0">
                {{activity.fulfilledDependencies}} / {{activity.totalDependencies}}
            </div>
        </div>
    </div>
    }
    <div class="col-12" *ngIf="activity.description">
        <b>
            Note
        </b>
        <div [innerHTML]="activity.description | domsanitizer"></div>
    </div>
</div>

<kendo-tabstrip>
    <kendo-tabstrip-tab [selected]="true">
        <ng-template kendoTabTitle>
            <strong>Prodotti</strong>
        </ng-template>
        <ng-template kendoTabContent>
            <div class="d-flex gap-1">
                <a class="btn btn-primary btn-sm" (click)="createActivityProduct()">
                    <span class="fa fa-plus"></span>
                    Associa prodotto
                </a>
                <a class="btn btn-primary btn-sm" (click)="assignAllCustomerProducts()">
                    <span class="fa fa-plus"></span>
                    Associa tutti i prodotti cliente (Tutti)
                </a>
                <a class="btn btn-primary btn-sm" (click)="assignAllCustomerProductsMonthlyMaint()">
                    <span class="fa fa-plus"></span>
                    Associa tutti i prodotti cliente (Manut. Mensile)
                </a>
            </div>
            <app-activity-products #activityProducts [activityId]="activity.id"
                (edit)="editActivityProduct($event)"></app-activity-products>
        </ng-template>
    </kendo-tabstrip-tab>
    <kendo-tabstrip-tab>
        <ng-template kendoTabTitle>
            <strong>Pianificazione</strong>
        </ng-template>
        <ng-template kendoTabContent>
            <div class="d-flex gap-1">
                <a class="btn btn-primary btn-sm" (click)="createIntervention()">
                    <span class="fa fa-calendar-plus"></span>
                    Programma intervento
                </a>
            </div>
            <app-interventions-calendar #interventionsCalendar [interventionModal]="interventionModal"
                [jobId]="activity.jobId" [activityId]="activity.id" (interventionUpdated)="onInterventionsChanged()"
                (interventionCreated)="onInterventionsChanged()" (interventionRemoved)="onInterventionsChanged()">
            </app-interventions-calendar>
        </ng-template>
    </kendo-tabstrip-tab>
    <kendo-tabstrip-tab>
        <ng-template kendoTabTitle>
            <strong>Interventi</strong>
        </ng-template>
        <ng-template kendoTabContent>
            <div class="d-flex gap-1">
                <a class="btn btn-primary btn-sm" (click)="createIntervention()">
                    <span class="fa fa-calendar-plus"></span>
                    Programma intervento
                </a>
            </div>
            <app-interventions-grid #interventionsGrid [interventionModal]="interventionModal"
                [activityId]="activity.id" (interventionUpdated)="onInterventionsChanged()"
                (interventionRemoved)="onInterventionsChanged()" (created)="onInterventionsChanged()">
            </app-interventions-grid>
        </ng-template>
    </kendo-tabstrip-tab>
</kendo-tabstrip>

<app-job-modal #jobModal></app-job-modal>
<app-activity-modal #activityModal></app-activity-modal>
<app-activity-product-modal #activityProductModal></app-activity-product-modal>
<app-intervention-modal #interventionModal></app-intervention-modal>
<app-dependencies-modal #dependenciesModal></app-dependencies-modal>