<div class="d-flex align-items-center mb-3">
    <div class="col">
        <h4>Attività</h4>
    </div>

    <div class="col-auto">
        <button (click)="create()" class="btn btn-primary btn-sm">
            <i class="fas fa-plus"></i>
            NUOVA
        </button>
    </div>
</div>

<app-grid-context-menu #gridMenu key="jobId"></app-grid-context-menu>

<div class="job-late-toast-container">
  <ng-container *ngFor="let job of lateJobsToNotify">
    <app-job-late-notification
      [jobId]="job.jobId"
      [jobCode]="job.jobCode"
      [mandatoryDate]="job.jobMandatoryDate"
      [userId]="user.id"
      (closed)="onLateJobNotificationClosed($event)">
    </app-job-late-notification>
  </ng-container>
  <ng-container *ngFor="let act of lateActivitiesToNotify">
    <app-activity-late-notification
      [id]="act.id"
      [jobCode]="act.jobCode"
      [shortDescription]="act.shortDescription"
      [expirationDate]="act.expirationDate"
      [userId]="user.id"
      (closed)="onLateActivityNotificationClosed($event)">
    </app-activity-late-notification>
  </ng-container>
</div>

<div class="grid-container">
    <kendo-grid [data]="data" [pageSize]="gridState.take" [skip]="gridState.skip" [sort]="gridState.sort"
        [filter]="gridState.filter" [group]="gridState.group" filterable="menu" [sortable]="true" [pageable]="true"
        (dataStateChange)="dataStateChange($event)" [rowClass]="rowCallback" (cellClick)="cellClickHandler($event)"
        (dblclick)="onDblClick()" (cellClick)="gridMenu.onCellClick($event,true)" scrollable="none"
        [style.width.px]="screenWidth">
        <ng-template kendoGridToolbarTemplate *ngIf="viewExportExcel">
            <button type="button" class="btn btn-primary" (click)="exportToExcel()">
                Esporta in Excel
            </button>
        </ng-template>
        <kendo-grid-column field="activityColor" [sortable]="true" [filterable]="false" title=" " class="activity-color"
            width="1" kendoTooltip>
            <ng-template kendoGridCellTemplate let-dataItem>
                <div [style.background-color]="dataItem.activityColor" title="{{dataItem.type}}">&nbsp;</div>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="customer" title="Cliente" *ngIf="viewExportExcel">
            <ng-template kendoGridCellTemplate let-dataItem>
                <a (click)="openCustomer(dataItem.customerId)" style="cursor: pointer;">{{dataItem.customer}}</a>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="jobCode" title="Commessa" [width]="1" *ngIf="viewExportExcel">
            <ng-template kendoGridCellTemplate let-dataItem>
                <div *ngIf="!dataItem.jobHasHighPriority">{{dataItem.jobCode}}</div>
                <div *ngIf="dataItem.jobHasHighPriority" class="job-alert">
                    {{dataItem.jobCode}} <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                </div>
                <div *ngIf="dataItem.jobIsInLate" class="job-alert" kendoTooltip title="Scadenza Tassativa">
                    {{dataItem.jobMandatoryDate | date:"dd/MM/yyyy"}} <i class="fa fa-exclamation-triangle" aria-hidden="true" ></i>
                </div>
            </ng-template>
        </kendo-grid-column>
        <!-- <kendo-grid-column field="number" title="N." [width]="1" filter="numeric" format="n0">
    </kendo-grid-column> -->
        <kendo-grid-column field="status" title="Stato" [width]="1" filter="numeric" class="activity-status">
            <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
                let-filterService="filterService">
                <app-multiselect-grid-column-filter [column]="column" [filter]="filter" [filterService]="filterService"
                    [data]="activityStatusNames">
                </app-multiselect-grid-column-filter>
            </ng-template>
            <ng-template kendoGridCellTemplate let-dataItem>
                <span class="text-nowrap">
                    {{dataItem | activityStatus}}
                </span>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="jobReference" title="Riferimento" *ngIf="viewExportExcel">
        </kendo-grid-column>
        <kendo-grid-column field="shortDescription" title="Descrizione Attività">
            <ng-template kendoGridCellTemplate let-dataItem>
                {{dataItem.shortDescription}}<br />
                <div class="progress-container" [ngClass]="{'progress-hide': (dataItem.totalDependencies == 0)}"
                    kendoTooltip
                    title="Dipendenze evase {{dataItem.fulfilledDependencies}} / {{dataItem.totalDependencies}}">
                    <div class="progress-bar"
                        [style.width.%]="dataItem.totalDependencies ? (dataItem.fulfilledDependencies / dataItem.totalDependencies * 100) : 0">
                        {{dataItem.fulfilledDependencies}} / {{dataItem.totalDependencies}}
                    </div>
                </div>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="expirationDate" title="Scadenza" filter="date" format="dd/MM/yyyy" [width]="1">
            <ng-template kendoGridCellTemplate let-dataItem>
                <div class="text-nowrap" [ngClass]="{'job-alert': dataItem.isExpired}">
                    {{dataItem.expirationDate | date:'dd/MM/yyyy'}} <i class="fa fa-exclamation-triangle" aria-hidden="true" *ngIf="dataItem.isMandatoryExpiration"></i>
                </div>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="purchaseOrderStatus" title="Stato OA" [width]="1" filter="numeric"
            class="purchase-order-status">
            <ng-template kendoGridFilterMenuTemplate let-column="column" let-filter="filter"
                let-filterService="filterService">
                <app-multiselect-grid-column-filter [column]="column" [filter]="filter" [filterService]="filterService"
                    [data]="purchaseOrderStatusNames">
                </app-multiselect-grid-column-filter>
            </ng-template>
            <ng-template kendoGridCellTemplate let-dataItem>
                <span class="text-nowrap">
                    <button class="btn btn-outline-primary btn-sm" title="Visualizza ordini d'acquisto"
                        [routerLink]="['/purchase-orders']" [queryParams]="{jobId: dataItem.jobId}"
                        *ngIf="dataItem.purchaseOrderStatus">
                        <i class="fa fa-bag-shopping"></i>
                    </button>
                    {{dataItem.purchaseOrderStatus | purchaseOrderStatus}}
                </span>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="referentName" title="Operatore">
            <ng-template kendoGridCellTemplate let-dataItem>
                <div *ngIf="!dataItem.isNewReferent || dataItem.referentId != currentOperator?.id">
                    {{dataItem.referentName}}</div>
                <div *ngIf="dataItem.isNewReferent && dataItem.referentId == currentOperator?.id" class="job-alert">
                    {{dataItem.referentName}} <i class="fa fa-bell" aria-hidden="true"></i>
                </div>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="createdOn" title="Ins. / Mod." filterable="false" [width]="1">
            <ng-template kendoGridCellTemplate let-dataItem>
                <div class="text-nowrap" style="font-size: 0.8rem;">
                    <i>Ins: {{dataItem.createdOn | date:'dd/MM/yyyy'}}</i>
                    @if (dataItem.editedOn){<br /><i>Mod: {{dataItem.editedOn | date:'dd/MM/yyyy'}}</i>}
                </div>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="lastOperator" title="Inser. Da" [width]="1">
        </kendo-grid-column>
        <kendo-grid-column field="isFromTicket" title="Ticket" [width]="1" filterable="false">
            <ng-template kendoGridCellTemplate let-dataItem>
                @if (dataItem.isFromTicket) {
                <strong>{{dataItem.isFromTicket | bool}}</strong>
                }
                @else {
                {{dataItem.isFromTicket | bool}}
                }
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="unreadMessages" title="" filterable="false">
            <ng-template kendoGridCellTemplate let-dataItem>
                <div *ngIf="dataItem.unreadMessages" style="width: 35px; text-align: center;"><a
                        (click)="edit(dataItem)" style="cursor: pointer;"><i
                            class="fa-regular fa-message job-alert"></i> <span class="job-alert">
                            {{dataItem.unreadMessages}}</span></a></div>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="id" [sortable]="false" [filterable]="false" title=" " [width]="1">
            <ng-template kendoGridCellTemplate let-dataItem>
                <div class="d-flex text-nowrap gap-1">
                    <button class="btn btn-primary btn-sm" title="Modifica" (click)="edit(dataItem)">
                        <i class="fas fa-edit"></i>
                    </button>
                    <button class="btn btn-primary btn-sm" title="Gestisci" [routerLink]="['/activities', dataItem.id]"
                        [disabled]="dataItem.isInternal">
                        <i class="fas fa-gear"></i>
                    </button>
                    <button class="btn btn-outline-primary btn-sm" title="Visualizza allegati"
                        [disabled]="!dataItem.hasAttachments" (click)="openAttachments(dataItem.jobId, dataItem.id)">
                        <i class="fa fa-paperclip"></i>
                    </button>
                    <button class="btn btn-outline-primary btn-sm" title="Visualizza dipendenze"
                        [disabled]="!dataItem.hasDependencies" (click)="openDependencies(dataItem.jobId, dataItem.id, dataItem.canHaveDependencies)">
                        <i class="fa fa-link"></i>
                    </button>
                    <button [disabled]="!dataItem.canBeRemoved" class="btn btn-danger btn-sm" title="Rimuovi"
                        (click)="askRemove(dataItem)">
                        <i class="fas fa-trash"></i>
                    </button>
                </div>
            </ng-template>
        </kendo-grid-column>

    </kendo-grid>
</div>

<app-activity-modal #activityModal></app-activity-modal>
<app-customer-modal #customerModal></app-customer-modal>
<app-jobs-attachments-modal #jobsAttachmentsModal></app-jobs-attachments-modal>
<app-dependencies-modal #dependenciesModal></app-dependencies-modal>