<div class="k-overlay" *ngIf="opened"></div>

<div class="k-window-wrapper" *ngIf="opened">
    <kendo-window (close)="dismiss()" [resizable]="false" [draggable]="false" [top]="30">
        <kendo-window-titlebar>
            <div class="k-window-title">
                Associa prodotto
            </div>
            <button kendoWindowCloseAction></button>
        </kendo-window-titlebar>
        <form name="activity-product-modal-form" #form="ngForm" novalidate autocomplete="off" (submit)="close()"
            class="redimensionModal">

            <div class="row">
                <div class="col-md-3">
                    <label>Tipologia</label>
                    <div class="form-group">
                        <kendo-combobox [data]="productTypes" textField="fullName" valueField="id" name="productType"
                            [(ngModel)]="productType" required [suggest]="true" [allowCustom]="false"
                            (valueChange)="onProductTypeChanged()">
                        </kendo-combobox>
                        <div class="validation-message" [control]="form.controls['productType']"></div>
                    </div>
                </div>
                <div class="col-md-6">
                    <label>Prodotto</label>
                    <div class="form-group">
                        <kendo-combobox [data]="products" textField="fullName" valueField="id" name="product"
                            [(ngModel)]="product" required [suggest]="true" [allowCustom]="false"
                            (valueChange)="onProductChange()">
                            <ng-template kendoComboBoxItemTemplate let-dataItem>
                                <div class="d-flex align-items-center gap-1">
                                    <img *ngIf="dataItem.pictureFileName" [src]="imagesUrl + dataItem.pictureFileName"
                                        class="thumbnail-xs">
                                    <span>
                                        {{dataItem.fullName}}
                                    </span>
                                </div>
                            </ng-template>
                        </kendo-combobox>
                        <div class="validation-message" [control]="form.controls['product']"></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <label>Ubicazione</label>
                    <div class="form-group">
                        <input class="form-control" name="location" [(ngModel)]="options.product.location" maxlength="255"
                            novalidate autocomplete="off" />
                        <div class="validation-message" [control]="form.controls['location']"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label>Descrizione</label>
                    <div class="form-group">
                        <kendo-editor name="description" [(ngModel)]="options.product.description" [resizable]="true" [iframe]="false">
                            <kendo-toolbar>
                                <kendo-toolbar-buttongroup>
                                    <kendo-toolbar-button kendoEditorBoldButton></kendo-toolbar-button>
                                    <kendo-toolbar-button kendoEditorItalicButton></kendo-toolbar-button>
                                    <kendo-toolbar-button kendoEditorUnderlineButton></kendo-toolbar-button>
                                </kendo-toolbar-buttongroup>
                                <kendo-toolbar-colorpicker kendoEditorForeColor></kendo-toolbar-colorpicker>
                                <kendo-toolbar-buttongroup>
                                    <kendo-toolbar-button kendoEditorInsertUnorderedListButton></kendo-toolbar-button>
                                </kendo-toolbar-buttongroup>
                            </kendo-toolbar>
                        </kendo-editor>
                        <div class="validation-message" [control]="form.controls['description']"></div>
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-end gap-2 mt-5">
                <button type="button" (click)="dismiss()" class="btn btn-secondary">
                    Annulla
                </button>
                <button type="submit" class="btn btn-primary">
                    Salva
                </button>
            </div>
        </form>
    </kendo-window>
</div>
