<div class="d-flex align-items-center mb-3">
    <div class="col">
        <h4>Tipologie Attività</h4>
    </div>
    <div class="col-auto">
        <button (click)="createActivityType()" class="btn btn-primary btn-sm">
            <i class="fas fa-plus"></i>
            NUOVO
        </button>
    </div>
</div>

<div class="grid-container">
<kendo-grid [data]="dataActivityTypes" [pageSize]="stateGridActivityTypes.take" 
            [skip]="stateGridActivityTypes.skip" [sort]="stateGridActivityTypes.sort" 
            [filter]="stateGridActivityTypes.filter"
            [group]="stateGridActivityTypes.group" filterable="menu" 
            [sortable]="true" [pageable]="true" scrollable="none" [style.width.px]="screenWidth"
            (dataStateChange)="dataStateChange($event)">
    <kendo-grid-column field="name" title="Nome"></kendo-grid-column>
    <kendo-grid-column field="pictureRequired" title="Immagine Obbligatoria">
        <ng-template kendoGridCellTemplate let-dataItem>
            {{dataItem.pictureRequired | bool}}
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="isInternal" title="Attività interna">
        <ng-template kendoGridCellTemplate let-dataItem>
            {{dataItem.isInternal | bool}}
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="isExternal" title="Attività fornitore">
        <ng-template kendoGridCellTemplate let-dataItem>
            {{dataItem.isExternal | bool}}
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="influenceJobStatus" title="Influenza stato commesse">
        <ng-template kendoGridCellTemplate let-dataItem>
            {{dataItem.influenceJobStatus | bool}}
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="viewInPurchaseOrder" title="Visibile in Ordini Acq">
        <ng-template kendoGridCellTemplate let-dataItem>
            {{dataItem.viewInPurchaseOrder | bool}}
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="hasDependencies" title="Può avere dipendenze">
        <ng-template kendoGridCellTemplate let-dataItem>
            {{dataItem.hasDependencies | bool}}
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="colorHex" title="Colore">
        <ng-template kendoGridCellTemplate let-dataItem>
            <div class="operator-color-in-grid" [style.background-color]="dataItem.colorHex"></div>
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="id" [sortable]="false" [filterable]="false" title=" " [width]="95">
        <ng-template kendoGridCellTemplate let-dataItem>
            <button (click)="editActivityType(dataItem)" class="btn btn-primary btn-sm grid-action-button" title="Modifica">
                <i class="fas fa-edit"></i>
            </button>
            <button (click)="deleteActivityType(dataItem)" class="btn btn-danger btn-sm grid-action-button" title="Elimina">
                <i class="fas fa-trash"></i>
            </button>
        </ng-template>
    </kendo-grid-column>
</kendo-grid>
</div>

<app-activityType-modal #activityTypeModal></app-activityType-modal>