<form name="loginForm" #loginForm="ngForm" (ngSubmit)="loginForm.valid && login()" novalidate autocomplete="off">

    <h3 class="text-center">Accesso Area Riservata</h3>
    <p class="text-muted text-center mb-4">Inserisci il tuo nome utente e password per accedere</p>

    <div class="row">
        <div class="col-md-3">
            <label for="userName">Nome utente</label>
            <div class="form-group">
                <input class="form-control" type="text" [(ngModel)]="credentials.userName" name="userName" novalidate
                    autocomplete="off" required id="userName" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <label for="password">Password</label>
            <div class="form-group">
                <input class="form-control" type="password" [(ngModel)]="credentials.password" name="password"
                    novalidate autocomplete="off" required id="password" />
            </div>
        </div>
    </div>

    <button class="btn btn-primary" type="submit" [disabled]="loginForm.invalid">ACCEDI</button>
</form>
