<div class="k-overlay" *ngIf="opened"></div>

<div class="k-window-wrapper" *ngIf="opened">
    <kendo-window (close)="dismiss()" [resizable]="false" [draggable]="false"[top]="100">
        <kendo-window-titlebar>
            <div class="k-window-title">
                Tipologia Attività
            </div>
            <div class="text-right">
                <button type="button" (click)="dismiss()" class="btn btn-secondary me-2">
                    <i class="fa fa-rotate-left me-2"></i> ANNULLA
                </button>
                <button type="button" (click)="close()" class="btn btn-primary">
                    <i class="fa fa-floppy-disk me-2"></i> SALVA
                </button>
            </div>
            <button kendoWindowCloseAction></button>
        </kendo-window-titlebar>
        <form name="updateActivityTypeForm" #form="ngForm" novalidate autocomplete="off" (ngSubmit)="close()" *ngIf="options" class="redimensionModal">
            <div class="row riga-form">
                <div class="col-md-6">
                    <kendo-formfield class="form-group">
                        <label>Nome</label>
                        <kendo-textbox [(ngModel)]="options.name" 
                            name="name"
                            required>
                        </kendo-textbox>
                        <kendo-formerror>Nome è un campo obbligatorio</kendo-formerror>
                    </kendo-formfield>
                </div>
                <div class="col-md-3">
                    <kendo-formfield class="form-group">
                        <label>Ordinamento</label>
                        <kendo-numerictextbox [(ngModel)]="options.order" name="order" [min]="0" [format]="'n0'" required></kendo-numerictextbox>
                        <kendo-formerror>Ordine è un campo obbligatorio</kendo-formerror>
                    </kendo-formfield>
                </div>
                <div class="col-md-3">
                    <kendo-formfield class="form-group">
                        <label>Colore</label>
                        <kendo-colorpicker [(ngModel)]="options.colorHex" name="colorHex" format="hex"  required></kendo-colorpicker>
                        <kendo-formerror>Colore è un campo obbligatorio</kendo-formerror>
                    </kendo-formfield>
                </div>
            </div>
            <div class="row riga-form">
                <div class="col-md-3">
                    <label>Immagine obbligatoria</label>
                    <div class="form-group">
                        <kendo-switch name="pictureRequired" [(ngModel)]="options.pictureRequired" onLabel="Si" offLabel="No">
                        </kendo-switch>
                        <div class="validation-message" [control]="form.controls['pictureRequired']"></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <label>Attività Interna</label>
                    <div class="form-group">
                        <kendo-switch name="isInternal" [(ngModel)]="options.isInternal" onLabel="Si" offLabel="No">
                        </kendo-switch>
                        <div class="validation-message" [control]="form.controls['isInternal']"></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <label>Attività Fornitore</label>
                    <div class="form-group">
                        <kendo-switch name="isExternal" [(ngModel)]="options.isExternal" onLabel="Si" offLabel="No">
                        </kendo-switch>
                        <div class="validation-message" [control]="form.controls['isExternal']"></div>
                    </div>
                </div>
            </div>
            <div class="row riga-form">
                <div class="col-md-3">
                    <label>Influenza stato commessa</label>
                    <div class="form-group">
                        <kendo-switch name="influenceJobStatus" [(ngModel)]="options.influenceJobStatus" onLabel="Si" offLabel="No">
                        </kendo-switch>
                        <div class="validation-message" [control]="form.controls['influenceJobStatus']"></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <label>Visibile in Ordini d'acquisto</label>
                    <div class="form-group">
                        <kendo-switch name="viewInPurchaseOrder" [(ngModel)]="options.viewInPurchaseOrder" onLabel="Si" offLabel="No">
                        </kendo-switch>
                        <div class="validation-message" [control]="form.controls['viewInPurchaseOrder']"></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <label>Può avere dipendenze</label>
                    <div class="form-group">
                        <kendo-switch name="hasDependencies" [(ngModel)]="options.hasDependencies" onLabel="Si" offLabel="No">
                        </kendo-switch>
                        <div class="validation-message" [control]="form.controls['hasDependencies']"></div>
                    </div>
                </div>
            </div>
            <div class="row riga-form">
                <div class="col-md-3">
                    <label>Etichetta Stato "In attesa"</label>
                    <div class="form-group">
                        <kendo-textbox [(ngModel)]="options.statusLabel0" name="statusLabel0" required>
                        </kendo-textbox>
                        <div class="validation-message" [control]="form.controls['statusLabel0']"></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <label>Etichetta Stato "In corso"</label>
                    <div class="form-group">
                        <kendo-textbox [(ngModel)]="options.statusLabel1" name="statusLabel1" required>
                        </kendo-textbox>
                        <div class="validation-message" [control]="form.controls['statusLabel1']"></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <label>Etichetta Stato "Pronto"</label>
                    <div class="form-group">
                        <kendo-textbox [(ngModel)]="options.statusLabel2" name="statusLabel2" required>
                        </kendo-textbox>
                        <div class="validation-message" [control]="form.controls['statusLabel2']"></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <label>Etichetta Stato "Completata"</label>
                    <div class="form-group">
                        <kendo-textbox [(ngModel)]="options.statusLabel3" name="statusLabel3" required>
                        </kendo-textbox>
                        <div class="validation-message" [control]="form.controls['statusLabel3']"></div>
                    </div>
                </div>
            </div>
            <div class="text-right mt-5">
                <button type="button" (click)="dismiss()" class="btn btn-secondary me-2">
                    <i class="fa fa-rotate-left me-2"></i> ANNULLA
                </button>
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-floppy-disk me-2"></i> SALVA
                </button>
            </div>
        </form>
    </kendo-window>
</div>
