<div class="d-flex align-items-center mb-3">
    <div class="col">
        <h4>Operatori</h4>
    </div>
    <div class="col-auto">
        <button (click)="createOperator()" class="btn btn-primary btn-sm">
            <i class="fas fa-plus"></i>
            NUOVO
        </button>
    </div>
</div>

<div class="grid-container">
<kendo-grid [data]="dataOperators" [pageSize]="stateGridOperators.take" 
            [skip]="stateGridOperators.skip" [sort]="stateGridOperators.sort" 
            [filter]="stateGridOperators.filter"
            [group]="stateGridOperators.group" filterable="menu" 
            [sortable]="true" [pageable]="true" scrollable="none" [style.width.px]="screenWidth"
            (dataStateChange)="dataStateChange($event)">
    <kendo-grid-column field="name" title="Nome"></kendo-grid-column>
    <kendo-grid-column field="email" title="email"></kendo-grid-column>
    <kendo-grid-column field="defaultVehicle.description" title="Trasporto"></kendo-grid-column>
    <kendo-grid-column field="colorHex" title="Colore">
        <ng-template kendoGridCellTemplate let-dataItem>
            <div class="operator-color-in-grid" [style.background-color]="dataItem.colorHex"></div>
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="id" [sortable]="false" [filterable]="false" title=" " [width]="95">
        <ng-template kendoGridCellTemplate let-dataItem>
            <button (click)="editOperator(dataItem)" class="btn btn-primary btn-sm grid-action-button" title="Modifica">
                <i class="fas fa-edit"></i>
            </button>
            <button (click)="deleteOperator(dataItem)" class="btn btn-danger btn-sm grid-action-button" title="Elimina">
                <i class="fas fa-trash"></i>
            </button>
        </ng-template>
    </kendo-grid-column>
</kendo-grid>
</div>

<app-operator-modal #operatorModal></app-operator-modal>