<div class="d-flex align-items-center mb-3">
    <div class="col">
        <h4>Operatori Notifica</h4>
    </div>

    <div class="col-auto">
        <button (click)="create()" class="btn btn-primary btn-sm">
            <i class="fas fa-plus"></i>
            NUOVO
        </button>
    </div>
</div>

<app-grid-context-menu #gridMenu key="jobId"></app-grid-context-menu>

<div class="grid-container">
<kendo-grid [data]="data" [pageSize]="gridState.take" [skip]="gridState.skip" [sort]="gridState.sort"
    [filter]="gridState.filter" [group]="gridState.group" filterable="menu" [sortable]="true" [pageable]="true"
    scrollable="none" [style.width.px]="screenWidth" (dataStateChange)="dataStateChange($event)" (cellClick)="cellClickHandler($event)" 
    (dblclick)="onDblClick()" (cellClick)="gridMenu.onCellClick($event)">

    <kendo-grid-column field="operatorName" title="Operatore">
    </kendo-grid-column>
    <kendo-grid-column field="id" [sortable]="false" [filterable]="false" title=" " [width]="1">
        <ng-template kendoGridCellTemplate let-dataItem>
            <div class="d-flex text-nowrap gap-1">
                <button class="btn btn-primary btn-sm" title="Modifica" (click)="edit(dataItem)">
                    <i class="fas fa-edit"></i>
                </button>
                <button class="btn btn-danger btn-sm" title="Rimuovi" (click)="askRemove(dataItem)">
                    <i class="fas fa-trash"></i>
                </button>
            </div>
        </ng-template>
    </kendo-grid-column>
</kendo-grid>
</div>

<app-notificationOperator-modal #notificationOperatorModal></app-notificationOperator-modal>